* {
  all: unset;
  font-family: $font-name;
  font-size: $font-size;
  font-weight: $font-weight;
}

//general
@import "style/colors";
@import "style/common/common.scss";
@import "style/common/floating-widget.scss";
@import "style/common/widget-button.scss";

//general styles
@import "style/common/general";

//modules - bar
@import "style/bar/bar";
@import "style/bar/menu";
@import "style/bar/audio";
@import "style/bar/media";
@import "style/bar/network";
@import "style/bar/bluetooth";
@import "style/bar/clock";
@import "style/bar/workspace";
@import "style/bar/window_title";
@import "style/bar/systray";
@import "style/bar/notifications";
@import "style/bar/power";
@import "style/bar/battery";

//modules - menus
@import "style/menus/menu";
@import "style/menus/power";
@import "style/menus/powerdropdown";
@import "style/menus/audiomenu";
@import "style/menus/network";
@import "style/menus/bluetooth";
@import "style/menus/media";
@import "style/menus/notifications";
@import "style/menus/calendar";
@import "style/menus/energy";
@import "style/menus/dashboard";

//notifications
@import "style/notifications/popups";

//osd
@import "style/osd/index";

//settings dialog
@import "style/settings/dialog";

@import "style/customModules/style";
