$font-size: 1.2rem;
$font-name: Ubuntu Nerd Font;
$font-weight: 600;
$notification-background: #181825;
$notification-actions-background: #b4befe;
$notification-actions-text: #181825;
$notification-label: #b4befe;
$notification-border: #313244;
$notification-time: #7f849c;
$notification-text: #cdd6f4;
$notification-labelicon: #b4befe;
$notification-close_button-background: #f38ba8;
$notification-close_button-label: #11111b;
$bar-transparent: false;
$bar-background: #11111b;
$bar-buttons-monochrome: false;
$bar-buttons-spacing: 0.25em;
$bar-buttons-radius: 0.3em;
$bar-buttons-background: #242438;
$bar-buttons-hover: #45475a;
$bar-buttons-text: #b4befe;
$bar-buttons-icon: #b4befe;
$bar-buttons-dashboard-background: #242438;
$bar-buttons-dashboard-hover: #45475a;
$bar-buttons-dashboard-icon: #f9e2af;
$bar-buttons-workspaces-background: #242438;
$bar-buttons-workspaces-hover: #45475a;
$bar-buttons-workspaces-available: #89dceb;
$bar-buttons-workspaces-occupied: #f2cdcd;
$bar-buttons-workspaces-active: #f5c2e7;
$bar-buttons-windowtitle-background: #242438;
$bar-buttons-windowtitle-hover: #45475a;
$bar-buttons-windowtitle-text: #f5c2e7;
$bar-buttons-windowtitle-icon: #f5c2e7;
$bar-buttons-media-background: #242438;
$bar-buttons-media-hover: #45475a;
$bar-buttons-media-text: #b4befe;
$bar-buttons-media-icon: #b4befe;
$bar-buttons-volume-background: #242438;
$bar-buttons-volume-hover: #45475a;
$bar-buttons-volume-text: #eba0ac;
$bar-buttons-volume-icon: #eba0ac;
$bar-buttons-network-background: #242438;
$bar-buttons-network-hover: #45475a;
$bar-buttons-network-text: #cba6f7;
$bar-buttons-network-icon: #cba6f7;
$bar-buttons-bluetooth-background: #242438;
$bar-buttons-bluetooth-hover: #45475a;
$bar-buttons-bluetooth-text: #89dceb;
$bar-buttons-bluetooth-icon: #89dceb;
$bar-buttons-systray-background: #242438;
$bar-buttons-systray-hover: #45475a;
$bar-buttons-battery-background: #242438;
$bar-buttons-battery-hover: #45475a;
$bar-buttons-battery-text: #f9e2af;
$bar-buttons-battery-icon: #f9e2af;
$bar-buttons-clock-background: #242438;
$bar-buttons-clock-hover: #45475a;
$bar-buttons-clock-text: #f5c2e7;
$bar-buttons-clock-icon: #f5c2e7;
$bar-buttons-notifications-background: #242438;
$bar-buttons-notifications-hover: #45475a;
$bar-buttons-notifications-icon: #b4befe;
$bar-buttons-notifications-total: #b4befe;
$bar-menus-monochrome: false;
$bar-menus-background: #11111b;
$bar-menus-cards: #1e1e2e;
$bar-menus-card_radius: 0.4em;
$bar-menus-border-size: 0.13em;
$bar-menus-border-radius: 0.7em;
$bar-menus-border-color: #313244;
$bar-menus-text: #cdd6f4;
$bar-menus-dimtext: #585b70;
$bar-menus-feinttext: #313244;
$bar-menus-label: #b4befe;
$bar-menus-listitems-passive: #cdd6f4;
$bar-menus-listitems-active: #b4befe;
$bar-menus-icons-passive: #585b70;
$bar-menus-icons-active: #b4befe;
$bar-menus-switch-enabled: #b4befe;
$bar-menus-switch-disabled: #313244;
$bar-menus-switch-puck: #6c7086;
$bar-menus-buttons-default: #b4befe;
$bar-menus-buttons-active: #f5c2e7;
$bar-menus-buttons-disabled: #585b70;
$bar-menus-buttons-text: #11111b;
$bar-menus-iconbuttons-passive: #cdd6f4;
$bar-menus-iconbuttons-active: #b4befe;
$bar-menus-progressbar-foreground: #b4befe;
$bar-menus-progressbar-background: #45475a;
$bar-menus-slider-primary: #b4befe;
$bar-menus-slider-background: #585b70;
$bar-menus-slider-backgroundhover: #45475a;
$bar-menus-slider-puck: #6c7086;
$bar-menus-dropdownmenu-background: #11111b;
$bar-menus-dropdownmenu-text: #cdd6f4;
$bar-menus-dropdownmenu-divider: #1e1e2e;
$bar-menus-tooltip-background: #11111b;
$bar-menus-tooltip-text: #cdd6f4;
$bar-menus-menu-media-song: #b4befe;
$bar-menus-menu-media-artist: #94e2d5;
$bar-menus-menu-media-album: #f5c2e7;
$bar-menus-menu-media-background-color: #11111b;
$bar-menus-menu-media-border-color: #313244;
$bar-menus-menu-media-buttons-inactive: #585b70;
$bar-menus-menu-media-buttons-enabled: #94e2d5;
$bar-menus-menu-media-buttons-background: #b4befe;
$bar-menus-menu-media-buttons-text: #11111b;
$bar-menus-menu-media-slider-primary: #f5c2e7;
$bar-menus-menu-media-slider-background: #585b70;
$bar-menus-menu-media-slider-backgroundhover: #45475a;
$bar-menus-menu-media-slider-puck: #6c7086;
$bar-menus-menu-volume-card-color: #1e1e2e;
$bar-menus-menu-volume-background-color: #11111b;
$bar-menus-menu-volume-border-color: #313244;
$bar-menus-menu-volume-label-color: #eba0ac;
$bar-menus-menu-volume-text: #cdd6f4;
$bar-menus-menu-volume-listitems-passive: #cdd6f4;
$bar-menus-menu-volume-listitems-active: #eba0ac;
$bar-menus-menu-volume-iconbutton-passive: #cdd6f4;
$bar-menus-menu-volume-iconbutton-active: #eba0ac;
$bar-menus-menu-volume-icons-passive: #9399b2;
$bar-menus-menu-volume-icons-active: #eba0ac;
$bar-menus-menu-volume-audio_slider-primary: #eba0ac;
$bar-menus-menu-volume-audio_slider-background: #585b70;
$bar-menus-menu-volume-audio_slider-backgroundhover: #45475a;
$bar-menus-menu-volume-audio_slider-puck: #6c7086;
$bar-menus-menu-volume-input_slider-primary: #eba0ac;
$bar-menus-menu-volume-input_slider-background: #585b70;
$bar-menus-menu-volume-input_slider-backgroundhover: #45475a;
$bar-menus-menu-volume-input_slider-puck: #6c7086;
$bar-menus-menu-network-card-color: #1e1e2e;
$bar-menus-menu-network-background-color: #11111b;
$bar-menus-menu-network-border-color: #313244;
$bar-menus-menu-network-label-color: #cba6f7;
$bar-menus-menu-network-text: #cdd6f4;
$bar-menus-menu-network-status-color: #6c7086;
$bar-menus-menu-network-listitems-passive: #cdd6f4;
$bar-menus-menu-network-listitems-active: #cba6f7;
$bar-menus-menu-network-icons-passive: #9399b2;
$bar-menus-menu-network-icons-active: #cba6f7;
$bar-menus-menu-network-iconbuttons-passive: #cdd6f4;
$bar-menus-menu-network-iconbuttons-active: #cba6f7;
$bar-menus-menu-bluetooth-card-color: #1e1e2e;
$bar-menus-menu-bluetooth-background-color: #11111b;
$bar-menus-menu-bluetooth-border-color: #313244;
$bar-menus-menu-bluetooth-label-color: #89dceb;
$bar-menus-menu-bluetooth-text: #cdd6f4;
$bar-menus-menu-bluetooth-status: #6c7086;
$bar-menus-menu-bluetooth-switch_divider: #45475a;
$bar-menus-menu-bluetooth-switch-enabled: #89dceb;
$bar-menus-menu-bluetooth-switch-disabled: #313244;
$bar-menus-menu-bluetooth-switch-puck: #6c7086;
$bar-menus-menu-bluetooth-listitems-passive: #cdd6f4;
$bar-menus-menu-bluetooth-listitems-active: #89dceb;
$bar-menus-menu-bluetooth-icons-passive: #9399b2;
$bar-menus-menu-bluetooth-icons-active: #89dceb;
$bar-menus-menu-bluetooth-iconbutton-passive: #cdd6f4;
$bar-menus-menu-bluetooth-iconbutton-active: #89dceb;
$bar-menus-menu-systray-dropdownmenu-background: #11111b;
$bar-menus-menu-systray-dropdownmenu-text: #cdd6f4;
$bar-menus-menu-systray-dropdownmenu-divider: #1e1e2e;
$bar-menus-menu-battery-card-color: #1e1e2e;
$bar-menus-menu-battery-background-color: #11111b;
$bar-menus-menu-battery-border-color: #313244;
$bar-menus-menu-battery-label-color: #f9e2af;
$bar-menus-menu-battery-text: #cdd6f4;
$bar-menus-menu-battery-listitems-passive: #cdd6f4;
$bar-menus-menu-battery-listitems-active: #f9e2af;
$bar-menus-menu-battery-icons-passive: #9399b2;
$bar-menus-menu-battery-icons-active: #f9e2af;
$bar-menus-menu-battery-slider-primary: #f9e2af;
$bar-menus-menu-battery-slider-background: #585b70;
$bar-menus-menu-battery-slider-backgroundhover: #45475a;
$bar-menus-menu-battery-slider-puck: #6c7086;
$bar-menus-menu-clock-card-color: #1e1e2e;
$bar-menus-menu-clock-background-color: #11111b;
$bar-menus-menu-clock-border-color: #313244;
$bar-menus-menu-clock-text: #cdd6f4;
$bar-menus-menu-clock-time-time: #f5c2e7;
$bar-menus-menu-clock-time-timeperiod: #94e2d5;
$bar-menus-menu-clock-calendar-yearmonth: #94e2d5;
$bar-menus-menu-clock-calendar-weekdays: #f5c2e7;
$bar-menus-menu-clock-calendar-paginator: #f5c2e7;
$bar-menus-menu-clock-calendar-currentday: #f5c2e7;
$bar-menus-menu-clock-calendar-days: #cdd6f4;
$bar-menus-menu-clock-calendar-contextdays: #585b70;
$bar-menus-menu-clock-weather-icon: #f5c2e7;
$bar-menus-menu-clock-weather-temperature: #cdd6f4;
$bar-menus-menu-clock-weather-status: #94e2d5;
$bar-menus-menu-clock-weather-stats: #f5c2e7;
$bar-menus-menu-clock-weather-thermometer-extremelyhot: #f38ba8;
$bar-menus-menu-clock-weather-thermometer-hot: #fab387;
$bar-menus-menu-clock-weather-thermometer-moderate: #b4befe;
$bar-menus-menu-clock-weather-thermometer-cold: #89b4fa;
$bar-menus-menu-clock-weather-thermometer-extremelycold: #89dceb;
$bar-menus-menu-clock-weather-hourly-time: #f5c2e7;
$bar-menus-menu-clock-weather-hourly-icon: #f5c2e7;
$bar-menus-menu-clock-weather-hourly-temperature: #f5c2e7;
$bar-menus-menu-dashboard-card-color: #1e1e2e;
$bar-menus-menu-dashboard-background-color: #11111b;
$bar-menus-menu-dashboard-border-color: #313244;
$bar-menus-menu-dashboard-profile-name: #f5c2e7;
$bar-menus-menu-dashboard-powermenu-shutdown: #f38ba8;
$bar-menus-menu-dashboard-powermenu-restart: #fab387;
$bar-menus-menu-dashboard-powermenu-logout: #a6e3a1;
$bar-menus-menu-dashboard-powermenu-sleep: #89dceb;
$bar-menus-menu-dashboard-powermenu-confirmation-card: #1e1e2e;
$bar-menus-menu-dashboard-powermenu-confirmation-background: #11111b;
$bar-menus-menu-dashboard-powermenu-confirmation-border: #313244;
$bar-menus-menu-dashboard-powermenu-confirmation-label: #b4befe;
$bar-menus-menu-dashboard-powermenu-confirmation-body: #cdd6f4;
$bar-menus-menu-dashboard-powermenu-confirmation-confirm: #a6e3a1;
$bar-menus-menu-dashboard-powermenu-confirmation-deny: #f38ba8;
$bar-menus-menu-dashboard-powermenu-confirmation-button_text: #11111b;
$bar-menus-menu-dashboard-shortcuts-background: #b4befe;
$bar-menus-menu-dashboard-shortcuts-text: #11111b;
$bar-menus-menu-dashboard-shortcuts-recording: #a6e3a1;
$bar-menus-menu-dashboard-controls-disabled: #585b70;
$bar-menus-menu-dashboard-controls-wifi-background: #cba6f7;
$bar-menus-menu-dashboard-controls-wifi-text: #11111b;
$bar-menus-menu-dashboard-controls-bluetooth-background: #89dceb;
$bar-menus-menu-dashboard-controls-bluetooth-text: #11111b;
$bar-menus-menu-dashboard-controls-notifications-background: #f9e2af;
$bar-menus-menu-dashboard-controls-notifications-text: #11111b;
$bar-menus-menu-dashboard-controls-volume-background: #eba0ac;
$bar-menus-menu-dashboard-controls-volume-text: #11111b;
$bar-menus-menu-dashboard-controls-input-background: #f5c2e7;
$bar-menus-menu-dashboard-controls-input-text: #11111b;
$bar-menus-menu-dashboard-directories-left-top-color: #f5c2e7;
$bar-menus-menu-dashboard-directories-left-middle-color: #f9e2af;
$bar-menus-menu-dashboard-directories-left-bottom-color: #eba0ac;
$bar-menus-menu-dashboard-directories-right-top-color: #94e2d5;
$bar-menus-menu-dashboard-directories-right-middle-color: #cba6f7;
$bar-menus-menu-dashboard-directories-right-bottom-color: #b4befe;
$bar-menus-menu-dashboard-monitors-bar_background: #45475a;
$bar-menus-menu-dashboard-monitors-cpu-icon: #eba0ac;
$bar-menus-menu-dashboard-monitors-cpu-bar: #eba0ac;
$bar-menus-menu-dashboard-monitors-cpu-label: #eba0ac;
$bar-menus-menu-dashboard-monitors-ram-icon: #f9e2af;
$bar-menus-menu-dashboard-monitors-ram-bar: #f9e2af;
$bar-menus-menu-dashboard-monitors-ram-label: #f9e2af;
$bar-menus-menu-dashboard-monitors-gpu-icon: #a6e3a1;
$bar-menus-menu-dashboard-monitors-gpu-bar: #a6e3a1;
$bar-menus-menu-dashboard-monitors-gpu-label: #a6e3a1;
$bar-menus-menu-dashboard-monitors-disk-icon: #f5c2e7;
$bar-menus-menu-dashboard-monitors-disk-bar: #f5c2e7;
$bar-menus-menu-dashboard-monitors-disk-label: #f5c2e7;
$bar-menus-menu-notifications-label: #b4befe;
$bar-menus-menu-notifications-no_notifications_label: #313244;
$bar-menus-menu-notifications-background: #11111b;
$bar-menus-menu-notifications-card: #1e1e2e;
$bar-menus-menu-notifications-border: #313244;
$bar-menus-menu-notifications-switch_divider: #45475a;
$bar-menus-menu-notifications-clear: #f38ba8;
$bar-menus-menu-notifications-switch-enabled: #b4befe;
$bar-menus-menu-notifications-switch-disabled: #313244;
$bar-menus-menu-notifications-switch-puck: #6c7086;