@import '../colors.scss';

.txt-icon {
    font-family: 'JetBrainsMono Nerd Font Propo', monospace;
    font-size: 1.5em;

    &.bluetooth {
        font-size: 1em;
    }

    &.playback {
        font-size: 1.3em;
    }

    &.input {
        font-size: 1.3em;
    }
}

.bar.txt-icon {
    font-family: 'JetBrainsMono Nerd Font Propo', monospace;
    font-size: 1.2em;
}

tooltip {
    * {
        all: unset;
    }

    opacity: $bar-menus-opacity * 0.01;

    font-size: 1.1em * $tooltip-scaling * 0.01;

    > * > * {
        padding: 0.6em;
        border-radius: $bar-menus-tooltip-radius;
        color: if($bar-menus-monochrome, $bar-menus-label, $bar-menus-tooltip-text);
        background: if($bar-menus-monochrome, $bar-menus-background, $bar-menus-tooltip-background);
    }
}

check:not(:checked) {
    background-color: $bar-menus-check_radio_button-background;
    border: 1px solid $bar-menus-check_radio_button-active;
}

check:checked {
    background-color: $bar-menus-check_radio_button-active;
    border: 1px solid $bar-menus-check_radio_button-background;
}
