* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font";
}

menu {
  margin: 6px;
  padding: 6px;
  background-color: #0e0e1e;
  background-clip: border-box;
  border-radius: 12px;
  border: 1px solid #1e1e2e;
}
menu menuitem {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 20px;
  min-width: 40px;
  padding: 4px 8px;
  color: #FFFFFF;
  font: initial;
  text-shadow: none;
  border-radius: 6px;
}
menu menuitem:hover, menu menuitem:active {
  background-color: #1e1e2e;
}
menu menuitem:disabled {
  color: #1e1e2e;
}
menu menuitem arrow {
  min-height: 16px;
  min-width: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-left: 8px;
}
menu separator {
  min-height: 1px;
  margin: 4px 0;
  background-color: #1e1e2e;
}

menu > arrow {
  min-height: 16px;
  min-width: 16px;
  padding: 4px;
  color: #1e1e2e;
}

menu > arrow.top {
  margin-top: 0;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom {
  margin-top: 8px;
  margin-bottom: -12px;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

check,
radio {
  min-height: 15px;
  min-width: 15px;
  margin: 4px;
  padding: 0;
  color: transparent;
  background-color: #1e1e2e;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 150ms cubic-bezier(0, 0, 0.2, 1);
}

radio {
  border-radius: 9999px;
}

check {
  border-radius: 4px;
}

check:hover,
radio:hover {
  box-shadow: 0 0 0 4px rgba(14, 14, 30, 0.2);
  background-color: #0e0e1e;
}

check:active,
radio:active {
  box-shadow: 0 0 0 4px rgba(14, 14, 30, 0.2);
  background-color: #0e0e1e;
}

check:checked, check:indeterminate,
radio:checked,
radio:indeterminate {
  color: #0e0e1e;
  background-color: #9278b6;
}

check:checked:hover, check:indeterminate:hover,
radio:checked:hover,
radio:indeterminate:hover {
  box-shadow: 0 0 0 4px rgba(146, 120, 182, 0.2);
  background-color: #9278b6;
}

check:checked:active, check:indeterminate:active,
radio:checked:active,
radio:indeterminate:active {
  box-shadow: 0 0 0 4px rgba(146, 120, 182, 0.2);
  background-color: #9278b6;
}

switch {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  margin: 4px 0;
  border: none;
  border-radius: 9999px;
  background-color: #1e1e2e;
  background-clip: padding-box;
  font-size: 0;
  color: transparent;
}

switch:checked {
  background-color: #9278b6;
}

switch:disabled {
  opacity: 0.5;
}

switch slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 18px;
  min-height: 18px;
  margin: 3px;
  border-radius: 9999px;
  outline: none;
  background-color: #CDD6F4;
  border: none;
  color: transparent;
}

scale {
  min-height: 2px;
  min-width: 2px;
}

scale.horizontal {
  padding: 17px 12px;
}

scale.vertical {
  padding: 12px 17px;
}

scale slider {
  min-height: 18px;
  min-width: 18px;
  margin: -8px;
}

scale trough {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  outline: none;
  background-color: #1e1e2e;
}

scale highlight {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #9278b6;
}

scale highlight:disabled {
  background-color: #1e1e2e;
}

scale fill {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
}

scale fill:disabled {
  background-color: transparent;
}

scale slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 9999px;
  color: #9278b6;
  background-color: #0e0e1e;
  box-shadow: inset 0 0 0 2px #9278b6;
}

scale slider:hover {
  box-shadow: inset 0 0 0 2px #9278b6, 0 0 0 8px rgba(146, 120, 182, 0.1);
}

scale slider:active {
  box-shadow: inset 0 0 0 4px #9278b6, 0 0 0 8px rgba(146, 120, 182, 0.1);
}

tooltip {
  box-shadow: none;
}

tooltip.background {
  background-color: #0e0e1e;
  color: #CDD6F4;
  border-radius: 6px;
}

separator {
  min-width: 1px;
  min-height: 1px;
  background-color: #1e1e2e;
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}

.widget-button {
  background: #11111b;
  opacity: 1;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 3px solid;
  border-color: #11111b;
  transition: border-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:hover {
  border: 3px solid;
  border-color: #b4befe;
  transition: border-color 0.3s ease-in-out;
}
.widget-button:focus, .widget-button:active {
  border: 3px solid;
  border-color: #b4befe;
}
.widget-button image {
  border-radius: 26.68px;
  min-width: 1.2em;
  min-height: 1.2em;
  font-size: 4em;
}
.widget-button label {
  margin-top: 12px;
}
.widget-button:active image {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:active label {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.bar-menu_label {
  color: #94e2d5;
  margin-right: 20px;
  font-size: 2rem;
}

.audio-volume-box .audio-volume-label {
  min-width: 3rem;
}

.mixer-item {
  margin: 5px 0px;
}
.mixer-item .mixer-item-volume {
  margin: 0px 8px;
}
.mixer-item .mixer-item-title {
  margin: 0px 8px;
}
.mixer-item .mixer-item-slider {
  margin: 8px;
}
.mixer-item image {
  font-size: 40px;
}

.bar-volume_icon {
  font-size: 1.3rem;
  color: #fab387;
}

.bar-volume_percentage {
  color: #fab387;
}

.media {
  font-size: 1rem;
  color: #a6e3a1;
}

.bar-media_icon {
  font-size: 1.3rem;
  color: #a6e3a1;
}

.bar-network {
  color: #cba6f7;
}

.bar-bt_icon {
  font-size: 1.3rem;
  color: #89dceb;
}

.bar-bt_label {
  color: #89dceb;
}

.clock {
  color: #f5c2e7;
}

.workspaces label {
  font-size: 0px;
  min-width: 12px;
  min-height: 12px;
  border-radius: 6.6px;
  margin: 0px 3.5px;
  transition: 150ms;
  background-color: #b4befe;
}
.workspaces label.occupied {
  background-color: #eba0ac;
  min-width: 12px;
  min-height: 12px;
}
.workspaces label.active {
  background-color: #89dceb;
  min-width: 30px;
  min-height: 12px;
}

.workspaces label:not(:first-child) {
  margin-left: 12px;
}

.window_title {
  color: #f5c2e7;
}

.systray button:not(:first-child) {
  margin-left: 10px;
}

.systray-menu {
  background: #181825;
}

.systray-menu label {
  font-weight: bold;
  color: #b4befe;
}

.systray-menu separator {
  background-color: #45475a;
}

.systray-menu check:not(:checked) {
  background-color: #313244;
  border: 1px solid #b4befe;
}

.systray-menu check:checked {
  background-color: #b4befe;
}

.bar-power_label {
  color: #f38ba8;
  margin-right: 2px;
}

.bar {
  background: #181825;
  font-size: 1.15rem;
  font-weight: 800;
}

.bar_item_box_visible {
  background: #313244;
  border-radius: 8px;
  padding: 2px 12px;
  margin: 6px 3px;
}

.bar_item_box_hidden {
  background: none;
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.box-left {
  margin-left: 25px;
}

.box-right {
  margin-right: 25px;
}

window#powermenu,
window#verification {
  background-color: rgba(0, 0, 0, 0.4);
}

window#verification .verification {
  margin: 12px;
  border: 2px solid #313244;
  background-color: #1e1e2e;
  color: #9278b6;
  border-radius: 11px;
  padding: 20px;
  padding: 16.8px;
  min-width: 300px;
  min-height: 80px;
  font-size: 1.3em;
}
window#verification .verification .text-box {
  margin-bottom: 12px;
}
window#verification .verification .text-box .title {
  font-size: 1.6em;
  color: #eba0ac;
  margin-bottom: 10px;
}
window#verification .verification .text-box .desc {
  color: #b4befe;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding: 15px 30px;
}
window#verification .verification .verification-button {
  background: #11111b;
  padding: 10px 0px;
  margin: 5px 25px;
  border: 2px solid;
  border-color: #11111b;
  border-radius: 11px;
  opacity: 1;
  transition: border-color 0.2s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .verification-button:hover.bar-verification_yes {
  border-color: #a6e3a1;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:hover.bar-verification_no {
  border-color: #f38ba8;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:focus.bar-verification_yes {
  border-color: #a6e3a1;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:focus.bar-verification_no {
  border-color: #f38ba8;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active.bar-verification_yes {
  border-color: rgba(166, 227, 161, 0.4);
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active.bar-verification_no {
  border-color: rgba(243, 139, 168, 0.4);
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active image {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .verification-button:active label {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .bar-verification_no label {
  color: #f38ba8;
}
window#verification .verification .bar-verification_yes label {
  color: #a6e3a1;
}

window#powermenu .powermenu {
  margin: 12px;
  border: 2px solid #313244;
  background-color: #1e1e2e;
  color: #9278b6;
  border-radius: 11px;
  padding: 20px;
}
window#powermenu .powermenu.line {
  padding: 16.8px;
}
window#powermenu .powermenu.box {
  padding: 22.4px;
}

.widget-button {
  border-color: #11111b;
  opacity: 1;
  transition: border-color 0.2s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:hover.powermenu-button-shutdown {
  border-color: #f38ba8;
}
.widget-button:hover.powermenu-button-logout {
  border-color: #a6e3a1;
}
.widget-button:hover.powermenu-button-sleep {
  border-color: #89dceb;
}
.widget-button:hover.powermenu-button-reboot {
  border-color: #fab387;
}
.widget-button:focus.powermenu-button-shutdown {
  border-color: #f38ba8;
}
.widget-button:focus.powermenu-button-logout {
  border-color: #a6e3a1;
}
.widget-button:focus.powermenu-button-sleep {
  border-color: #89dceb;
}
.widget-button:focus.powermenu-button-reboot {
  border-color: #fab387;
}
.widget-button:active.powermenu-button-shutdown {
  border-color: rgba(243, 139, 168, 0.5);
}
.widget-button:active.powermenu-button-logout {
  border-color: rgba(166, 227, 161, 0.5);
}
.widget-button:active.powermenu-button-sleep {
  border-color: rgba(137, 220, 235, 0.5);
}
.widget-button:active.powermenu-button-reboot {
  border-color: rgba(250, 179, 135, 0.5);
}

.system-button_icon.shutdown {
  color: #f38ba8;
}
.system-button_icon.logout {
  color: #a6e3a1;
}
.system-button_icon.reboot {
  color: #fab387;
}
.system-button_icon.sleep {
  color: #89dceb;
}

.system-button_label.shutdown {
  color: #f38ba8;
}
.system-button_label.logout {
  color: #a6e3a1;
}
.system-button_label.reboot {
  color: #fab387;
}
.system-button_label.sleep {
  color: #89dceb;
}

.audiomenu-items {
  background: #181825;
  border: 1px solid #89dceb;
  min-width: 200px;
  min-height: 300px;
}

.click-me {
  background: #b4befe;
  margin: 140px 0px;
}

/*# sourceMappingURL=style.css.map */
