* {
  all: unset;
  font-family: "Ubuntu";
  font-size: 1.2rem;
  font-weight: 600;
}

menu {
  margin: 6px;
  padding: 6px;
  background-color: #0e0e1e;
  background-clip: border-box;
  border-radius: 12px;
  border: 1px solid #1e1e2e;
}
menu menuitem {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 20px;
  min-width: 40px;
  padding: 4px 8px;
  color: #FFFFFF;
  font: initial;
  text-shadow: none;
  border-radius: 6px;
}
menu menuitem:hover, menu menuitem:active {
  background-color: #1e1e2e;
}
menu menuitem:disabled {
  color: #1e1e2e;
}
menu menuitem arrow {
  min-height: 16px;
  min-width: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-left: 8px;
}
menu separator {
  min-height: 1px;
  margin: 4px 0;
  background-color: #1e1e2e;
}

menu > arrow {
  min-height: 16px;
  min-width: 16px;
  padding: 4px;
  color: #1e1e2e;
}

menu > arrow.top {
  margin-top: 0;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom {
  margin-top: 8px;
  margin-bottom: -12px;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

check,
radio {
  min-height: 15px;
  min-width: 15px;
  margin: 4px;
  padding: 0;
  color: transparent;
  background-color: #1e1e2e;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 150ms cubic-bezier(0, 0, 0.2, 1);
}

radio {
  border-radius: 9999px;
}

check {
  border-radius: 4px;
}

check:hover,
radio:hover {
  box-shadow: 0 0 0 4px rgba(14, 14, 30, 0.2);
  background-color: #0e0e1e;
}

check:active,
radio:active {
  box-shadow: 0 0 0 4px rgba(14, 14, 30, 0.2);
  background-color: #0e0e1e;
}

check:checked, check:indeterminate,
radio:checked,
radio:indeterminate {
  color: #0e0e1e;
  background-color: #9278b6;
}

check:checked:hover, check:indeterminate:hover,
radio:checked:hover,
radio:indeterminate:hover {
  box-shadow: 0 0 0 4px rgba(146, 120, 182, 0.2);
  background-color: #9278b6;
}

check:checked:active, check:indeterminate:active,
radio:checked:active,
radio:indeterminate:active {
  box-shadow: 0 0 0 4px rgba(146, 120, 182, 0.2);
  background-color: #9278b6;
}

switch {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  margin: 4px 0;
  border: none;
  border-radius: 9999px;
  background-color: #1e1e2e;
  background-clip: padding-box;
  font-size: 0;
  color: transparent;
}

switch:checked {
  background-color: #9278b6;
}

switch:disabled {
  opacity: 0.5;
}

switch slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 18px;
  min-height: 18px;
  margin: 3px;
  border-radius: 9999px;
  outline: none;
  background-color: #CDD6F4;
  border: none;
  color: transparent;
}

scale {
  min-height: 2px;
  min-width: 2px;
}

scale.horizontal {
  padding: 17px 12px;
}

scale.vertical {
  padding: 12px 17px;
}

scale slider {
  min-height: 18px;
  min-width: 18px;
  margin: -8px;
}

scale trough {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  outline: none;
  background-color: #1e1e2e;
}

scale highlight {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #9278b6;
}

scale highlight:disabled {
  background-color: #1e1e2e;
}

scale fill {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
}

scale fill:disabled {
  background-color: transparent;
}

scale slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 9999px;
  color: #9278b6;
  background-color: #0e0e1e;
  box-shadow: inset 0 0 0 2px #9278b6;
}

scale slider:hover {
  box-shadow: inset 0 0 0 2px #9278b6, 0 0 0 8px rgba(146, 120, 182, 0.1);
}

scale slider:active {
  box-shadow: inset 0 0 0 4px #9278b6, 0 0 0 8px rgba(146, 120, 182, 0.1);
}

tooltip {
  box-shadow: none;
}

tooltip.background {
  background-color: #0e0e1e;
  color: #CDD6F4;
  border-radius: 6px;
}

separator {
  min-width: 1px;
  min-height: 1px;
  background-color: #1e1e2e;
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}

.widget-button {
  background: #11111b;
  opacity: 1;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 3px solid;
  border-color: #11111b;
  transition: border-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:hover {
  border: 3px solid;
  border-color: #b4befe;
  transition: border-color 0.3s ease-in-out;
}
.widget-button:focus, .widget-button:active {
  border: 3px solid;
  border-color: #b4befe;
}
.widget-button image {
  border-radius: 26.68px;
  min-width: 1.2em;
  min-height: 1.2em;
  font-size: 4em;
}
.widget-button label {
  margin-top: 12px;
}
.widget-button:active image {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:active label {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.bar-menu_label {
  color: #94e2d5;
  margin-right: 1.5rem;
  font-size: 2rem;
}

.bar-volume_icon {
  font-size: 1.3em;
  color: #fab387;
}

.bar-volume_percentage {
  color: #fab387;
}

.media {
  font-size: 1rem;
  color: #b4befe;
}

.bar-media_icon {
  font-size: 1.2em;
  color: #b4befe;
}

.bar-network {
  color: #cba6f7;
}

.bar-bt_icon {
  font-size: 1.15em;
  color: #89dceb;
}

.bar-bt_label {
  color: #89dceb;
}

.bluetooth-disabled-menu {
  font-weight: bold;
  font-size: 1.1rem;
  color: #585b70;
  margin: 6rem 0rem;
}

.menu-button-isactive {
  color: #89dceb;
}

.clock {
  color: #f5c2e7;
}

.workspaces label {
  font-size: 0.2em;
  min-width: 5em;
  min-height: 5em;
  border-radius: 1.14rem;
  margin: 0rem 0.25rem;
  transition: 150ms;
  background-color: #cba6f7;
  color: #cba6f7;
}
.workspaces label.occupied {
  background-color: #f9e2af;
  color: #f9e2af;
  min-width: 5em;
  min-height: 5em;
}
.workspaces label.active {
  color: #89dceb;
  background-color: #89dceb;
  min-width: 11em;
  min-height: 5em;
}

.workspaces label:not(:first-child) {
  margin-left: 4.5em;
}

.window_title {
  color: #f5c2e7;
}

.systray button:not(:first-child) {
  margin-left: 0.75rem;
}

.systray-menu {
  background: #181825;
}

.systray-menu label {
  font-weight: bold;
  color: #cdd6f4;
}

.systray-menu separator {
  background-color: #45475a;
}

.systray-menu check:not(:checked) {
  background-color: #313244;
  border: 1px solid #b4befe;
}

.systray-menu check:checked {
  background-color: #b4befe;
}

.systray-icon {
  font-size: 1.3em;
}

.bar-notifications-label {
  color: #f9e2af;
  font-size: 1.3em;
  min-width: 1em;
  margin-right: 0.15em;
}

.bar-power_label {
  color: #f38ba8;
  margin-top: 0.2rem;
}

.bar {
  background: #181825;
}

.bar_item_box_visible {
  background: #313244;
  border-radius: 0.35rem;
  padding: 0.2rem 0.9rem;
  margin: 0.5rem 0.25rem;
}
.bar_item_box_visible:hover {
  background: #45475a;
}

.bar_item_box_hidden {
  background: none;
  border-radius: 0rem;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

.box-left {
  margin-left: 1.9rem;
}

.box-right {
  margin-right: 1.9rem;
}

.menu-slider trough {
  background: #1e1e2e;
  border-radius: 0.3rem;
}
.menu-slider trough highlight,
.menu-slider trough progress {
  background: #fab387;
  border-radius: 0.3rem;
}
.menu-slider slider {
  box-shadow: none;
  background-color: transparent;
  min-height: 1.6rem;
  min-width: 1.6rem;
  border: 0rem solid transparent;
  border-radius: 0.3rem;
}
.menu-slider:hover trough {
  background: #313244;
}
.menu-slider:hover slider {
  background: #6c7086;
  box-shadow: none;
}

.menu-switch {
  background-color: #313244;
  border-radius: 0.3rem;
}
.menu-switch:checked {
  background: #89dceb;
}
.menu-switch trough highlight,
.menu-switch trough progress {
  background-color: #fab387;
  border-radius: 0.3rem;
}
.menu-switch slider {
  box-shadow: none;
  background-color: #6c7086;
  min-height: 1.2rem;
  min-width: 1.2rem;
  border: 0rem solid transparent;
  border-radius: 0.3rem;
  margin: 0.1rem 0.2rem;
}
.menu-switch:hover trough {
  background: #313244;
}
.menu-switch:hover slider {
  background: #6c7086;
  box-shadow: none;
}
.menu-switch:active {
  background-color: #89dceb;
}
.menu-separator {
  min-height: 0.1rem;
  margin: 0.6rem 0rem;
  background: #45475a;
}

.menu-items {
  background: #181825;
  border: 0.25rem solid #313244;
  border-radius: 0.5rem;
  min-width: 375px;
  color: #cdd6f4;
}

.menu-items-container {
  margin: 1rem 1.5rem;
}

.menu-dropdown-label {
  font-size: 1.3em;
  font-weight: bold;
  color: #cdd6f4;
}

.menu-active {
  font-size: 0.95em;
  font-weight: bold;
  margin: 0rem 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.menu-active-icon {
  color: #7f849c;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 0.7rem;
}

.menu-active-percentage {
  font-size: 1em;
  margin-left: 0.5rem;
  font-weight: bold;
}

.menu-active-slider {
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.menu-active-slider * {
  min-height: 1.1em;
  border-radius: 0.2em;
}

.menu-slider-container {
  margin-bottom: 0.7rem;
}

.menu-label {
  color: #cdd6f4;
  font-size: 1.1em;
  font-weight: bold;
}

.menu-label-dim {
  color: #6c7086;
  margin-right: 1rem;
  font-size: 1em;
  font-weight: bold;
}

.dim {
  color: #6c7086;
}

.menu-icon-button:hover {
  color: #585b70;
}

.menu-label-container {
  margin-bottom: 1.3rem;
}

.menu-button {
  margin-bottom: 0.4em;
}

.menu-button-name {
  font-size: 0.95em;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1.2rem;
}

.menu-button-icon {
  font-size: 1.3em;
  font-weight: bold;
  color: #6c7086;
  margin-right: 0.5rem;
}

.menu-item-box {
  margin-bottom: 0.5rem;
}

window#powermenu,
window#verification {
  background-color: rgba(0, 0, 0, 0.4);
}

window#verification .verification {
  margin: 12px;
  border: 0.2rem solid #313244;
  background-color: #1e1e2e;
  color: #9278b6;
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding: 1.2rem;
  min-width: 20rem;
  min-height: 8rem;
  font-size: 1.3em;
}
window#verification .verification .text-box {
  margin-bottom: 0.4rem;
}
window#verification .verification .text-box .title {
  font-size: 1.6em;
  color: #eba0ac;
  margin-bottom: 0.75rem;
}
window#verification .verification .text-box .desc {
  color: #b4befe;
  font-size: 1.1em;
  margin-bottom: 0.75rem;
  padding: 1.15rem 2.25rem;
}
window#verification .verification .verification-button {
  background: #11111b;
  padding: 0.75rem 0rem;
  margin: 0.4rem 1.9rem;
  border: 0.2rem solid;
  border-color: #11111b;
  border-radius: 0.4rem;
  opacity: 1;
  transition: border-color 0.2s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .verification-button:hover.bar-verification_yes {
  border-color: #a6e3a1;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:hover.bar-verification_no {
  border-color: #f38ba8;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:focus.bar-verification_yes {
  border-color: #a6e3a1;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:focus.bar-verification_no {
  border-color: #f38ba8;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active.bar-verification_yes {
  border-color: rgba(166, 227, 161, 0.4);
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active.bar-verification_no {
  border-color: rgba(243, 139, 168, 0.4);
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active image {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .verification-button:active label {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .bar-verification_no label {
  color: #f38ba8;
}
window#verification .verification .bar-verification_yes label {
  color: #a6e3a1;
}

window#powermenu .powermenu {
  margin: 12px;
  border: 0.2rem solid #313244;
  background-color: #1e1e2e;
  color: #9278b6;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
window#powermenu .powermenu.line {
  padding: 1.44rem;
}
window#powermenu .powermenu.box {
  padding: 1.92rem;
}

.widget-button {
  border-color: #11111b;
  opacity: 1;
  transition: border-color 0.2s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:hover.powermenu-button-shutdown {
  border-color: #f38ba8;
}
.widget-button:hover.powermenu-button-logout {
  border-color: #a6e3a1;
}
.widget-button:hover.powermenu-button-sleep {
  border-color: #89dceb;
}
.widget-button:hover.powermenu-button-reboot {
  border-color: #fab387;
}
.widget-button:focus.powermenu-button-shutdown {
  border-color: #f38ba8;
}
.widget-button:focus.powermenu-button-logout {
  border-color: #a6e3a1;
}
.widget-button:focus.powermenu-button-sleep {
  border-color: #89dceb;
}
.widget-button:focus.powermenu-button-reboot {
  border-color: #fab387;
}
.widget-button:active.powermenu-button-shutdown {
  border-color: rgba(243, 139, 168, 0.5);
}
.widget-button:active.powermenu-button-logout {
  border-color: rgba(166, 227, 161, 0.5);
}
.widget-button:active.powermenu-button-sleep {
  border-color: rgba(137, 220, 235, 0.5);
}
.widget-button:active.powermenu-button-reboot {
  border-color: rgba(250, 179, 135, 0.5);
}

.system-button_icon.shutdown {
  color: #f38ba8;
}
.system-button_icon.logout {
  color: #a6e3a1;
}
.system-button_icon.reboot {
  color: #fab387;
}
.system-button_icon.sleep {
  color: #89dceb;
}

.system-button_label.shutdown {
  color: #f38ba8;
}
.system-button_label.logout {
  color: #a6e3a1;
}
.system-button_label.reboot {
  color: #fab387;
}
.system-button_label.sleep {
  color: #89dceb;
}

.menu-dropdown-label.audio {
  color: #fab387;
}

.menu-label.audio {
  color: #fab387;
}

.menu-button-isactive.audio {
  color: #fab387;
}

.menu-active-slider trough highlight,
.menu-active-slider trough progress {
  background: #fab387;
}

.menu-button.audio:hover {
  color: #fab387;
}

.menu-items {
  min-width: 25rem;
}

.menu-dropdown-label.network {
  color: #cba6f7;
}

.network-element-item-ethernet.multi {
  margin-bottom: 0.5rem;
}

.menu-button-name.status.network {
  margin-left: 2.5rem;
}

.menu-label.network {
  color: #cba6f7;
}

.network-element-items-container * {
  font-size: 0.95em;
}

.network-element-item:not(:last-child) {
  margin-bottom: 0.4em;
}
.network-element-item:hover {
  color: #cba6f7;
}

.menu-button-icon.network {
  color: #9399b2;
}

.network-password-input {
  border-radius: 0.4rem;
  background: #11111b;
  padding: 0.4rem;
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.85em;
}

.menu-icon-button.refresh.network {
  margin-bottom: 1rem;
}
.menu-icon-button.refresh.network:hover {
  color: #cba6f7;
}

.network-password-input-close {
  margin-left: 0.75rem;
  margin-bottom: 0.6rem;
}
.network-password-input-close:hover {
  color: #89dceb;
}
.network-password-input-close label {
  font-size: 1.45em;
}

.menu-icon-button.network.disconnect {
  margin-bottom: 1.4rem;
  margin-right: 0.5rem;
}
.menu-icon-button.network.disconnect:hover {
  color: #cba6f7;
}
.menu-icon-button.network.disconnect label {
  font-size: 1.2rem;
}

.menu-icon-button.network.forget {
  margin-bottom: 1.4rem;
  margin-right: 0.5rem;
}
.menu-icon-button.network.forget:hover {
  color: #cba6f7;
}
.menu-icon-button.network.forget label {
  font-size: 1.35em;
}

.menu-dropdown-label.bluetooth {
  color: #89dceb;
}

.menu-label.bluetooth {
  color: #89dceb;
}

.menu-button-isactive.bluetooth {
  color: #89dceb;
}

.menu-button.bluetooth:hover {
  color: #89dceb;
}

.menu-items {
  min-width: 350px;
}

.menu-icon-button {
  font-size: 1.2rem;
  min-width: 2rem;
}
.menu-icon-button:hover {
  color: #89dceb;
}

.menu-icon-button.delete {
  margin-left: 0.5rem;
}

.menu-icon-button-label {
  font-size: 1.3rem;
}

.menu-button-name.status {
  margin-left: 2.1rem;
}

.bluetooth-isconnecting {
  color: #89dceb;
}

.media-indicator-container {
  min-width: 40rem;
  min-height: 10rem;
  background: #181825;
  border: 0.25rem solid #313244;
  border-radius: 0.4rem;
}

.media-indicator-items {
  margin: 1rem;
  margin-bottom: 1.3rem;
}

.media-indicator-current-album-cover {
  border: 0.2em solid #313244;
  background-color: #313244;
  border-radius: 0.25em;
  min-width: 8.3em;
  min-height: 8.3em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.media-indicator-right-section {
  margin-left: 2rem;
}

.media-indicator-current-song-name {
  margin-bottom: 0.75rem;
}

.media-indicator-current-song-author {
  margin-bottom: 0.5rem;
}

.media-indicator-current-song-name-label {
  color: #b4befe;
  font-size: 1.4em;
}

.media-indicator-current-song-author-label {
  color: #94e2d5;
  font-size: 1em;
}

.media-indicator-current-song-album-label {
  color: #f5c2e7;
  font-size: 1em;
}

.media-indicator-current-controls {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.media-indicator-control {
  margin: 0rem 0.5rem;
}

.media-indicator-time {
  color: #9399b2;
  font-size: 0.8em;
  font-weight: 800;
  margin-top: 0.9rem;
}
.media-indicator-time.total {
  margin-left: 1.2rem;
}
.media-indicator-time.current {
  margin-right: 1.2rem;
}

.media-indicator-control-button {
  background: #b4befe;
  color: #11111b;
  min-height: 1.8em;
  min-width: 2em;
  border-radius: 0.2rem;
}
.media-indicator-control-button tooltip {
  min-width: 10rem;
  min-height: 10rem;
  background: red;
}
.media-indicator-control-button.disabled {
  background: #313244;
}
.media-indicator-control-button.enabled {
  background: #b4befe;
}
.media-indicator-control-button.enabled:hover {
  background: #f5c2e7;
}
.media-indicator-control-button.enabled.active {
  background: #f5c2e7;
}

image {
  font-size: 1.3em;
}

.menu-slider.media.progress {
  margin-top: 1rem;
  min-height: 2em;
  min-width: 15em;
}
.menu-slider.media.progress trough {
  background: #1e1e2e;
  border-radius: 0.3rem;
}
.menu-slider.media.progress trough highlight,
.menu-slider.media.progress trough progress {
  min-height: 1rem;
  background: #f5c2e7;
  border-radius: 0.3rem;
}
.menu-slider.media.progress slider {
  box-shadow: none;
  background-color: transparent;
  min-height: 1.2rem;
  min-width: 1.2rem;
  border: 0rem solid transparent;
  border-radius: 0.3rem;
}
.menu-slider.media.progress:hover trough {
  background: #313244;
}
.menu-slider.media.progress:hover slider {
  background: #6c7086;
  box-shadow: none;
}
.notification-card-container.menu {
  min-width: 30rem;
  min-height: 50rem;
  background: #181825;
  border: 0.25rem solid #313244;
  border-radius: 0.4rem;
}

.notification-menu-content {
  margin: 40rem;
}

.notification-card-container {
  margin-top: 3.5rem;
}

.notification-card {
  color: #cdd6f4;
  background: #181825;
  margin-right: 0.4rem;
  border: 0.15rem solid #313244;
  min-width: 28rem;
  min-height: 6rem;
  border-radius: 0.4rem;
}
.notification-card:not(:first-child) {
  margin-top: 1rem;
}

.notification-card-container {
  padding: 1px;
}

.notification-card-image-container {
  margin: 0.75rem 0.75rem;
  border-radius: 0.4rem;
}

.notification-card-image {
  border-radius: 0.4rem;
  min-width: 3rem;
  min-height: 3rem;
  padding: 1rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.notification-card-content {
  min-width: 3.5rem;
  min-height: 3.5rem;
  padding: 0.6rem 0.6rem;
  margin-right: 1rem;
}

.notification-card-content.noimg {
  margin-left: 1.5rem;
  margin-top: 0.2rem;
}

.notification-card-appname-label {
  font-size: 0.9rem;
  color: #f5c2e7;
}

.notification-card-header-label {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  color: #b4befe;
}

.notification-card-body-label {
  font-size: 1rem;
  font-weight: 600;
}

.notification-card-actions {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.notification-action-buttons {
  color: #b4befe;
  background: #313244;
  min-width: 6rem;
  min-height: 2rem;
  border-radius: 0.2rem;
}
.notification-action-buttons:not(:last-child) {
  margin-right: 2rem;
}
.notification-action-buttons:hover {
  background: #45475a;
}

.notification-icon {
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
}

.close-notification-button {
  background: #f38ba8;
  color: #11111b;
  min-width: 2.5rem;
  border-radius: 0rem 0.35rem 0.35rem 0rem;
}
.close-notification-button label {
  font-size: 1.7rem;
}
.close-notification-button:hover {
  background: #eba0ac;
}

/*# sourceMappingURL=style.css.map */
