* {
  all: unset;
  font-family: "Ubuntu Nerd Font";
  font-size: 1.175rem;
  font-weight: 600;
}

menu {
  margin: 6px;
  padding: 6px;
  background-color: #0e0e1e;
  background-clip: border-box;
  border-radius: 12px;
  border: 1px solid #1e1e2e;
}
menu menuitem {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 20px;
  min-width: 40px;
  padding: 4px 8px;
  color: #FFFFFF;
  font: initial;
  text-shadow: none;
  border-radius: 6px;
}
menu menuitem:hover, menu menuitem:active {
  background-color: #1e1e2e;
}
menu menuitem:disabled {
  color: #1e1e2e;
}
menu menuitem arrow {
  min-height: 16px;
  min-width: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-left: 8px;
}
menu separator {
  min-height: 1px;
  margin: 4px 0;
  background-color: #1e1e2e;
}

menu > arrow {
  min-height: 16px;
  min-width: 16px;
  padding: 4px;
  color: #1e1e2e;
}

menu > arrow.top {
  margin-top: 0;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom {
  margin-top: 8px;
  margin-bottom: -12px;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

check,
radio {
  min-height: 15px;
  min-width: 15px;
  margin: 4px;
  padding: 0;
  color: transparent;
  background-color: #1e1e2e;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 150ms cubic-bezier(0, 0, 0.2, 1);
}

radio {
  border-radius: 9999px;
}

check {
  border-radius: 4px;
}

check:hover,
radio:hover {
  box-shadow: 0 0 0 4px rgba(14, 14, 30, 0.2);
  background-color: #0e0e1e;
}

check:active,
radio:active {
  box-shadow: 0 0 0 4px rgba(14, 14, 30, 0.2);
  background-color: #0e0e1e;
}

check:checked, check:indeterminate,
radio:checked,
radio:indeterminate {
  color: #0e0e1e;
  background-color: #9278b6;
}

check:checked:hover, check:indeterminate:hover,
radio:checked:hover,
radio:indeterminate:hover {
  box-shadow: 0 0 0 4px rgba(146, 120, 182, 0.2);
  background-color: #9278b6;
}

check:checked:active, check:indeterminate:active,
radio:checked:active,
radio:indeterminate:active {
  box-shadow: 0 0 0 4px rgba(146, 120, 182, 0.2);
  background-color: #9278b6;
}

switch {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  margin: 4px 0;
  border: none;
  border-radius: 9999px;
  background-color: #1e1e2e;
  background-clip: padding-box;
  font-size: 0;
  color: transparent;
}

switch:checked {
  background-color: #9278b6;
}

switch:disabled {
  opacity: 0.5;
}

switch slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 18px;
  min-height: 18px;
  margin: 3px;
  border-radius: 9999px;
  outline: none;
  background-color: #CDD6F4;
  border: none;
  color: transparent;
}

scale {
  min-height: 2px;
  min-width: 2px;
}

scale.horizontal {
  padding: 17px 12px;
}

scale.vertical {
  padding: 12px 17px;
}

scale slider {
  min-height: 18px;
  min-width: 18px;
  margin: -8px;
}

scale trough {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  outline: none;
  background-color: #1e1e2e;
}

scale highlight {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #9278b6;
}

scale highlight:disabled {
  background-color: #1e1e2e;
}

scale fill {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
}

scale fill:disabled {
  background-color: transparent;
}

scale slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 9999px;
  color: #9278b6;
  background-color: #0e0e1e;
  box-shadow: inset 0 0 0 2px #9278b6;
}

scale slider:hover {
  box-shadow: inset 0 0 0 2px #9278b6, 0 0 0 8px rgba(146, 120, 182, 0.1);
}

scale slider:active {
  box-shadow: inset 0 0 0 4px #9278b6, 0 0 0 8px rgba(146, 120, 182, 0.1);
}

tooltip {
  box-shadow: none;
}

tooltip.background {
  background-color: #11111b;
  color: #cdd6f4;
  border-radius: 6px;
}

separator {
  min-width: 1px;
  min-height: 1px;
  background-color: #1e1e2e;
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}

.widget-button {
  background: #11111b;
  opacity: 1;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 3px solid;
  border-color: #11111b;
  transition: border-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:hover {
  border: 3px solid;
  border-color: #b4befe;
  transition: border-color 0.3s ease-in-out;
}
.widget-button:focus, .widget-button:active {
  border: 3px solid;
  border-color: #b4befe;
}
.widget-button image {
  border-radius: 26.68px;
  min-width: 1.2em;
  min-height: 1.2em;
  font-size: 4em;
}
.widget-button label {
  margin-top: 12px;
}
.widget-button:active image {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:active label {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.bar-menu_label {
  color: #94e2d5;
  font-size: 1.3em;
}

.bar-volume_icon {
  font-size: 1.3em;
  color: #eba0ac;
}

.bar-volume_percentage {
  color: #eba0ac;
}

.media {
  font-size: 1rem;
  color: #b4befe;
}

.bar-media_icon {
  font-size: 1.2em;
  color: #b4befe;
}

.bar-network {
  color: #cba6f7;
}

.bar-bt_icon {
  font-size: 1.15em;
  color: #89dceb;
}

.bar-bt_label {
  color: #89dceb;
}

.bluetooth-disabled-menu {
  font-weight: bold;
  font-size: 1.1rem;
  color: #585b70;
  margin: 6rem 0rem;
}

.menu-button-isactive {
  color: #89dceb;
}

.clock {
  color: #f5c2e7;
}

.workspaces label {
  font-size: 0.2em;
  min-width: 4em;
  min-height: 4em;
  border-radius: 1.14rem;
  margin: 0rem 0.25rem;
  transition: 150ms;
  background-color: #89dceb;
  color: #89dceb;
}
.workspaces label.occupied {
  background-color: #f9e2af;
  color: #f9e2af;
  min-width: 4em;
  min-height: 4em;
}
.workspaces label.active {
  color: #f5c2e7;
  background-color: #f5c2e7;
  min-width: 12em;
  min-height: 4em;
}

.workspaces label:not(:first-child) {
  margin-left: 4.5em;
}

.window_title {
  color: #f5c2e7;
}

.systray button:not(:first-child) {
  margin-left: 0.75rem;
}

.systray-menu {
  background: #11111b;
}

.systray-menu label {
  font-weight: bold;
  color: #cdd6f4;
}

.systray-menu separator {
  background-color: #45475a;
}

.systray-menu check:not(:checked) {
  background-color: #313244;
  border: 1px solid #b4befe;
}

.systray-menu check:checked {
  background-color: #b4befe;
}

.systray-icon {
  font-size: 1.3em;
}

.bar-notifications-label {
  color: #b4befe;
  font-size: 1.3em;
  min-width: 1em;
}

.bar-power_label {
  color: #f38ba8;
  margin-top: 0.2rem;
}

.bar {
  background: #11111b;
}

.bar_item_box_visible {
  background-color: #242438;
  border-radius: 0.35em;
  padding: 0.2rem 0.9rem;
  margin: 0.5rem 0.25rem;
}
.bar_item_box_visible:hover {
  background: #45475a;
}

.bar_item_box_hidden {
  background: none;
  border-radius: 0rem;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

.box-left {
  margin-left: 1.9rem;
}

.box-right {
  margin-right: 1.9rem;
}

.bar .battery label {
  color: #f9e2af;
}
.bar .battery image {
  color: #f9e2af;
}

.menu-slider trough {
  border-radius: 0.3rem;
  background: #313244;
}
.menu-slider trough highlight,
.menu-slider trough progress {
  background: #fab387;
  border-radius: 0.3rem;
}
.menu-slider slider {
  box-shadow: none;
  background-color: transparent;
  min-height: 0.6rem;
  min-width: 0.6rem;
  border: 0rem solid transparent;
  border-radius: 0.3rem;
}
.menu-slider:hover trough {
  background: #313244;
}
.menu-slider:hover slider {
  background: #6c7086;
  box-shadow: none;
}

.menu-switch {
  font-size: 1.3rem;
  background-color: #313244;
  border-radius: 0.2em;
}
.menu-switch:checked {
  background: #89dceb;
}
.menu-switch trough highlight,
.menu-switch trough progress {
  background-color: #fab387;
  border-radius: 0.3em;
}
.menu-switch slider {
  box-shadow: none;
  background-color: #6c7086;
  min-height: 1em;
  min-width: 1em;
  border: 0em solid transparent;
  border-radius: 0.2em;
  margin: 0.1em 0.15em;
}
.menu-switch:hover trough {
  background: #313244;
}
.menu-switch:hover slider {
  background: #6c7086;
  box-shadow: none;
}
.menu-switch:active {
  background-color: #89dceb;
}
tooltip label {
  font-size: 0.9em;
}

.menu-separator {
  min-height: 0.1rem;
  margin: 0.6rem 0rem;
  background: #45475a;
}

.menu-items {
  background: #11111b;
  border: 0.13em solid #313244;
  border-radius: 0.7rem;
  min-width: 400px;
  color: #cdd6f4;
}

.menu-items-container {
  border-radius: 0.4em;
  min-width: 400px;
}

.menu-section-container {
  margin: 1.35em 0em;
}
.menu-section-container .menu-label {
  color: #cdd6f4;
  font-size: 1.1em;
  font-weight: bold;
}
.menu-section-container .menu-label-container {
  background: #1e1e2e;
  border-radius: 0.4em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  margin: 0em 1.35em;
  min-height: 2em;
}
.menu-section-container:first-child {
  margin-bottom: 0em;
}
.menu-section-container:last-child {
  margin-top: 0em;
}
.menu-section-container:nth-child(2) {
  margin-top: 1.35em;
}
.menu-section-container .menu-items-section {
  background: #1e1e2e;
  border-radius: 0.4em;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  padding: 0.9em;
  margin: 0em 1.35em;
}

.menu-active {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0rem 1em;
  margin-bottom: 0.9em;
}

.menu-active-container:first-child {
  margin-bottom: 0.5em;
}

.menu-active-button {
  padding: 0.1em;
  margin-bottom: -0.2em;
}
.menu-active-button .menu-active-icon {
  color: #7f849c;
  font-size: 1.4em;
  font-weight: bold;
}
.menu-active-button.muted image {
  color: #eba0ac;
}
.menu-active-button:hover image {
  color: #eba0ac;
}

.menu-active-percentage {
  font-size: 0.9em;
  min-width: 2.5em;
  font-weight: bold;
}

.menu-active-slider {
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.menu-active-slider * {
  min-height: 0.85em;
  border-radius: 0.2em;
}

.menu-slider-container {
  margin-bottom: 0.7rem;
}

.menu-label-dim {
  color: #6c7086;
  margin-right: 1rem;
  font-size: 1em;
  font-weight: bold;
}

.dim {
  color: #6c7086;
}

.menu-icon-button:hover {
  color: #585b70;
}

.menu-dropdown-label-container {
  background: #1e1e2e;
  border-radius: 0.4em;
}

.menu-button {
  margin-bottom: 0.4em;
}

.menu-button-name {
  font-size: 0.95em;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1.2rem;
}

.menu-button-icon {
  font-size: 1.3em;
  font-weight: bold;
  color: #6c7086;
  margin-right: 0.5rem;
}
.menu-button-icon.active {
  color: #eba0ac;
}

.menu-item-box {
  margin-bottom: 0.5rem;
}

.dropdown-menu-container {
  min-height: 10em;
}

.menu-label {
  margin: 0.5em 1em;
  color: #89dceb;
}

.event-top-padding * {
  min-height: 0em;
  margin-top: 2.8em;
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
image.spinning {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

window#powermenu,
window#verification {
  background-color: rgba(0, 0, 0, 0.4);
}

window#verification .verification {
  margin: 12px;
  border: 0.2rem solid #313244;
  background-color: #1e1e2e;
  color: #9278b6;
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding: 0.84em;
  min-width: 20em;
  min-height: 6em;
  font-size: 1.3em;
}
window#verification .verification .text-box {
  margin-bottom: 0.3em;
}
window#verification .verification .text-box .title {
  font-size: 1.5em;
  color: #b4befe;
  margin-bottom: 0.5em;
}
window#verification .verification .text-box .desc {
  color: #cdd6f4;
  font-size: 1em;
  margin-bottom: 0.55em;
  padding: 1em 3em;
}
window#verification .verification .verification-button {
  background: #11111b;
  padding: 0.7em 0em;
  margin: 0.4em 1.7em;
  border: 0.15em solid;
  border-color: #11111b;
  border-radius: 0.3em;
  opacity: 1;
  transition: border-color 0.2s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .verification-button:hover.bar-verification_yes {
  border-color: #a6e3a1;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:hover.bar-verification_no {
  border-color: #f38ba8;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:focus.bar-verification_yes {
  border-color: #a6e3a1;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:focus.bar-verification_no {
  border-color: #f38ba8;
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active.bar-verification_yes {
  border-color: rgba(166, 227, 161, 0.4);
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active.bar-verification_no {
  border-color: rgba(243, 139, 168, 0.4);
  transition: border-color 0.2s ease-in-out;
}
window#verification .verification .verification-button:active image {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .verification-button:active label {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
window#verification .verification .bar-verification_no label {
  color: #f38ba8;
}
window#verification .verification .bar-verification_yes label {
  color: #a6e3a1;
}

window#powermenu .powermenu {
  margin: 12px;
  border: 0.2rem solid #313244;
  background-color: #1e1e2e;
  color: #9278b6;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
window#powermenu .powermenu.line {
  padding: 1.44rem;
}
window#powermenu .powermenu.box {
  padding: 1.92rem;
}

.widget-button {
  border-color: #11111b;
  min-width: 4.5em;
  min-height: 4.5em;
  opacity: 1;
  transition: border-color 0.2s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.widget-button:hover.powermenu-button-shutdown {
  border-color: #f38ba8;
}
.widget-button:hover.powermenu-button-logout {
  border-color: #a6e3a1;
}
.widget-button:hover.powermenu-button-sleep {
  border-color: #89dceb;
}
.widget-button:hover.powermenu-button-reboot {
  border-color: #fab387;
}
.widget-button:focus.powermenu-button-shutdown {
  border-color: #f38ba8;
}
.widget-button:focus.powermenu-button-logout {
  border-color: #a6e3a1;
}
.widget-button:focus.powermenu-button-sleep {
  border-color: #89dceb;
}
.widget-button:focus.powermenu-button-reboot {
  border-color: #fab387;
}
.widget-button:active.powermenu-button-shutdown {
  border-color: rgba(243, 139, 168, 0.5);
}
.widget-button:active.powermenu-button-logout {
  border-color: rgba(166, 227, 161, 0.5);
}
.widget-button:active.powermenu-button-sleep {
  border-color: rgba(137, 220, 235, 0.5);
}
.widget-button:active.powermenu-button-reboot {
  border-color: rgba(250, 179, 135, 0.5);
}

.system-button_icon.shutdown {
  color: #f38ba8;
}
.system-button_icon.logout {
  color: #a6e3a1;
}
.system-button_icon.reboot {
  color: #fab387;
}
.system-button_icon.sleep {
  color: #89dceb;
}

.system-button_label.shutdown {
  color: #f38ba8;
}
.system-button_label.logout {
  color: #a6e3a1;
}
.system-button_label.reboot {
  color: #fab387;
}
.system-button_label.sleep {
  color: #89dceb;
}

.menu-dropdown-label.audio {
  color: #eba0ac;
}

.menu-label.audio {
  color: #eba0ac;
}

.menu-button-isactive.audio {
  color: #eba0ac;
}

.menu-active-slider trough highlight,
.menu-active-slider trough progress {
  background: #eba0ac;
}

.menu-button.audio:hover {
  color: #eba0ac;
}

.menu-items-container.network {
  font-size: 1.3em;
}
.menu-items-container.network .menu-items-section {
  padding-bottom: 1.5em;
}
.menu-items-container.network .menu-label {
  color: #cba6f7;
}
.menu-items-container.network .menu-icon-button.network {
  margin: 1em;
}
.menu-items-container.network .menu-icon-button.network:hover {
  color: #cba6f7;
}
.menu-items-container.network .network-icon {
  font-size: 1.3em;
  min-width: 1em;
  min-height: 1em;
  color: #7f849c;
}
.menu-items-container.network .network-icon.active {
  color: #cba6f7;
}
.menu-items-container.network .connection-container {
  margin-left: 1em;
}
.menu-items-container.network .connection-status {
  font-size: 0.9em;
}
.menu-items-container.network .menu-section-container.wifi .menu-items-section {
  min-height: 12em;
}
.menu-items-container.network .network-element-item:not(:last-child) {
  margin-bottom: 0.5em;
}
.menu-items-container.network .network-element-item.staging {
  margin-bottom: 0.5em;
}
.menu-items-container.network .network-element-item:hover {
  color: #cba6f7;
}
.menu-items-container.network .spinner.wap {
  color: #cba6f7;
}
.menu-items-container.network .network-password-input-container {
  background: #181825;
  border-radius: 0.4em;
  margin: 0em 2em;
  margin-top: 0.75em;
  padding: 0.5em;
}
.menu-items-container.network .close-network-password-input-button {
  padding: 0em 0.5em;
}
.menu-items-container.network .close-network-password-input-button:hover image {
  color: #cba6f7;
}
.menu-items-container.network .menu-icon-button.network.disconnect {
  margin-bottom: 0.4em;
}
.menu-items-container.network .menu-icon-button.network.disconnect label {
  font-size: 1.3em;
}
.menu-items-container.network .menu-icon-button.network.disconnect:hover {
  color: #cba6f7;
}

.menu-items-container.bluetooth {
  font-size: 1.3em;
}
.menu-items-container.bluetooth .menu-section-container {
  margin: 1.35em 0em;
}
.menu-items-container.bluetooth .menu-label-container .menu-label {
  color: #89dceb;
}
.menu-items-container.bluetooth .menu-label-container .controls-container {
  margin: 0.5em 1em;
}
.menu-items-container.bluetooth .menu-items-section {
  min-height: 20em;
  font-size: 1em;
}
.menu-items-container.bluetooth button {
  margin-right: 0.5em;
}
.menu-items-container.bluetooth button.search {
  font-size: 0.8em;
  margin-bottom: 0em;
}
.menu-items-container.bluetooth button.search image {
  color: #cdd6f4;
}
.menu-items-container.bluetooth button.search:hover image {
  color: #89dceb;
}
.menu-items-container.bluetooth button:hover {
  color: #89dceb;
}
.menu-items-container.bluetooth .bluetooth-element-item {
  margin-bottom: 0.5em;
}
.menu-items-container.bluetooth .bluetooth-element-item:hover {
  color: #89dceb;
}
.menu-items-container.bluetooth .bluetooth-element-item image {
  margin-right: 0em;
  margin-top: 0em;
  min-height: 1em;
  min-width: 1em;
}
.menu-items-container.bluetooth .bluetooth-element-item image.active {
  color: #89dceb;
}
.menu-items-container.bluetooth .bluetooth-element-item label {
  font-size: 1em;
}
.menu-items-container.bluetooth .bluetooth-element-item .connection-status {
  font-size: 0.9em;
  margin-left: 1em;
}
.menu-items-container.bluetooth spinner {
  min-height: 1.3em;
  min-width: 1.3em;
  color: #89dceb;
}
.menu-items-container.bluetooth .menu-separator {
  margin: 0em 1em;
}

.menu-items-container.media {
  min-width: 36.5em;
  min-height: 18em;
}
.menu-items-container.media .menu-section-container {
  margin: 1.3em 0em;
}
.menu-items-container.media .media-indicator-items {
  margin: 1rem;
  margin-bottom: 1.3rem;
}
.menu-items-container.media .media-indicator-current-album-cover {
  border-radius: 0.25em;
  min-width: 9.5em;
  min-height: 9.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.menu-items-container.media .media-indicator-right-section {
  margin-left: 2em;
}
.menu-items-container.media .media-indicator-current-song-name {
  margin-bottom: 0.75rem;
}
.menu-items-container.media .media-indicator-current-song-author {
  margin-bottom: 0.5rem;
}
.menu-items-container.media .media-indicator-current-song-name-label {
  color: #b4befe;
  font-size: 1.35em;
}
.menu-items-container.media .media-indicator-current-song-author-label {
  color: #94e2d5;
  font-size: 1em;
}
.menu-items-container.media .media-indicator-current-song-album-label {
  color: #f5c2e7;
  font-size: 1em;
}
.menu-items-container.media .media-indicator-current-controls {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}
.menu-items-container.media .media-indicator-control {
  margin: 0rem 0.5rem;
}
.menu-items-container.media .media-indicator-control-button {
  background: #b4befe;
  color: #11111b;
  min-height: 1.8em;
  min-width: 2em;
  border-radius: 0.2rem;
}
.menu-items-container.media .media-indicator-control-button.disabled {
  background: #313244;
}
.menu-items-container.media .media-indicator-control-button.enabled {
  background: #b4befe;
}
.menu-items-container.media .media-indicator-control-button.enabled:hover {
  background: #f5c2e7;
}
.menu-items-container.media .media-indicator-control-button.enabled.active {
  background: #f5c2e7;
}
.menu-items-container.media image {
  font-size: 1.1em;
}
.menu-items-container.media .menu-slider.media.progress {
  margin-top: 1rem;
}
.menu-items-container.media .menu-slider.media.progress trough {
  background: #313244;
  border-radius: 0.3rem;
}
.menu-items-container.media .menu-slider.media.progress trough highlight,
.menu-items-container.media .menu-slider.media.progress trough progress {
  min-height: 1rem;
  background: #b4befe;
}
.menu-items-container.media .menu-slider.media.progress:hover trough {
  background: #45475a;
}

.notification-card-container.menu {
  margin: 0em;
  min-width: 28.6em;
  min-height: 6em;
  background: #11111b;
  border: 0.13em solid #313244;
  border-radius: 0.7em;
  margin-right: 0.45em;
}
.notification-card-container.menu .window-content.notificationsmenu-window {
  margin-right: 0.5em;
}
.notification-card-container.menu .menu-content-container.notifications {
  margin: 1.35em;
  margin-bottom: 0em;
  min-height: 4em;
}
.notification-card-container.menu .notification-menu-controls {
  background: #1e1e2e;
  margin: 1em 1.3em;
  margin-bottom: 0.5em;
  border-radius: 0.4em;
  padding: 0.4em 0.75em;
}
.notification-card-container.menu .notification-card.menu {
  background: #1e1e2e;
  min-width: 23.5em;
  border: 0.15em solid #1e1e2e;
  border-radius: 0em;
  border-bottom-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
  margin: 0em;
}
.notification-card-container.menu .notification-card-content-container {
  margin-bottom: 1em;
}
.notification-card-container.menu .notification-card-content {
  margin-bottom: 0.25em;
}
.notification-card-container.menu .menu-label.notifications {
  margin: 0em;
  color: #b4befe;
}
.notification-card-container.menu .menu-separator.notification-controls {
  min-width: 0.1em;
  background-color: #313244;
  margin: 0em 1em;
}
.notification-card-container.menu .menu-switch.notifications:checked:checked {
  background: #b4befe;
}
.notification-card-container.menu .clear-notifications-button {
  margin-right: 0.3em;
}
.notification-card-container.menu .clear-notifications-button:hover label {
  color: #eba0ac;
}
.notification-card-container.menu .clear-notifications-label {
  color: #f38ba8;
  font-size: 1.5em;
}

.calendar-content-container {
  margin-top: 0em;
  min-width: 27em;
  min-height: 6em;
  background: #11111b;
  border: 0.13em solid #313244;
  border-radius: 0.7em;
}

.window-content.calendarmenu-window {
  margin-right: 0.5em;
}

.calendar-menu-item-container {
  border-radius: 0.4em;
  margin-bottom: 1.35em;
  background: #1e1e2e;
}

.calendar-content-items {
  margin: 1.35em;
}

.calendar-container-box {
  margin: 0.75em;
  margin-bottom: 0em;
}

.calendar-menu-widget {
  border-radius: 0.4em;
  color: #cdd6f4;
  font-size: 1.1em;
  padding: 0.35em;
}
.calendar-menu-widget:selected {
  box-shadow: inset 0 -0.5em 0 0 #f5c2e7, inset -0.4em -0.3em 0 0 #1e1e2e, inset 0.4em 0 0 0.01em #1e1e2e;
  color: #f5c2e7;
  border-radius: 0em;
}
.calendar-menu-widget.header {
  background-color: transparent;
  color: #94e2d5;
}
.calendar-menu-widget.button {
  color: #cdd6f4;
  font-weight: 900;
  font-size: 900em;
}
.calendar-menu-widget:hover {
  color: #f5c2e7;
}
.calendar-menu-widget.highlight {
  border: 2em solid #f5c2e7;
  background-color: transparent;
  color: #f5c2e7;
}
.calendar-menu-widget:indeterminate {
  color: #585b70;
}

.clock-content-items {
  min-height: 6em;
}
.clock-content-items .clock-content-time {
  font-size: 4em;
  color: #f5c2e7;
}
.clock-content-items .clock-content-period {
  font-size: 1.75em;
  margin-bottom: 0.7em;
  margin-right: -0.875em;
  color: #94e2d5;
}

.calendar-menu-item-container.weather {
  margin-bottom: 0em;
}

.weather-container-box {
  color: #f38ba8;
  margin: 1.5em;
  margin-top: 2.5em;
  min-width: 3em;
}
.weather-container-box .calendar-menu-weather.today.icon image {
  color: #f5c2e7;
  font-size: 6em;
}
.weather-container-box .calendar-menu-weather.today.temp.label {
  color: #cdd6f4;
  margin-left: 0.2em;
  font-size: 2.5em;
}
.weather-container-box .calendar-menu-weather.today.temp.label.icon {
  font-size: 2.5em;
}
.weather-container-box .calendar-menu-weather.today.condition.label {
  color: #94e2d5;
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.weather-container-box .calendar-menu-weather.today.temp.label.icon.weather-color.red {
  color: #f38ba8;
}
.weather-container-box .calendar-menu-weather.today.temp.label.icon.weather-color.orange {
  color: #fab387;
}
.weather-container-box .calendar-menu-weather.today.temp.label.icon.weather-color.lavender {
  color: #b4befe;
}
.weather-container-box .calendar-menu-weather.today.temp.label.icon.weather-color.blue {
  color: #89b4fa;
}
.weather-container-box .calendar-menu-weather.today.temp.label.icon.weather-color.sky {
  color: #89dceb;
}

.calendar-menu-weather.today.stats.container {
  margin-bottom: 0.75em;
  color: #f5c2e7;
}
.calendar-menu-weather.today.stats.container .weather.label {
  margin-left: 0.35em;
}

.menu-separator.weather {
  margin: 1.5em 0em;
}

.hourly-weather-time {
  color: #f5c2e7;
  margin-bottom: 0.5em;
}

.hourly-weather-icon {
  color: #f5c2e7;
  margin-bottom: 0.5em;
}

.hourly-weather-temp {
  color: #f5c2e7;
}

.menu-items-container.energy .menu-label {
  color: #f9e2af;
}
.menu-items-container.energy .power-profile-item {
  margin-bottom: 0.5em;
}
.menu-items-container.energy .power-profile-item label {
  margin-left: 1em;
}
.menu-items-container.energy .power-profile-item image {
  font-size: 1.3em;
  min-width: 1em;
  min-height: 1em;
  color: #7f849c;
}
.menu-items-container.energy .power-profile-item:hover label {
  color: #f9e2af;
}
.menu-items-container.energy .power-profile-item.active image {
  color: #f9e2af;
}
.menu-items-container.energy .menu-active-slider.brightness trough highlight,
.menu-items-container.energy .menu-active-slider.brightness trough progress {
  background: #f9e2af;
}
.menu-items-container.energy .brightness-container {
  padding-bottom: 1em;
}
.menu-items-container.energy .brightness-slider-icon {
  font-size: 1.4em;
  min-width: 1em;
  min-height: 1em;
  color: #9399b2;
}
.menu-items-container.energy .brightness-slider-label {
  font-size: 0.9em;
  min-width: 2.5em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.dashboard-content-items {
  min-width: 26.5em;
  background: #11111b;
  border: 0.13em solid #313244;
  border-radius: 0.7em;
}
.dashboard-content-items button {
  border-radius: 0.4em;
}
.dashboard-content-items .dashboard-card {
  background: #1e1e2e;
  margin: 1.3em;
  border-radius: 0.4em;
  padding: 1.5em;
}
.dashboard-content-items .profile-picture-container .profile-picture {
  font-size: 7.5em;
}
.dashboard-content-items .profile-picture-container .profile-name {
  font-size: 1.5em;
  color: #f5c2e7;
  margin-top: 0.75em;
}
.dashboard-content-items .power-menu-container {
  margin-left: 0em;
}
.dashboard-content-items .power-menu-container .dashboard-button {
  min-width: 3em;
  min-height: 2.5em;
}
.dashboard-content-items .power-menu-container .dashboard-button:not(:last-child) {
  margin-bottom: 0.75em;
}
.dashboard-content-items .power-menu-container .dashboard-button image {
  color: #1e1e2e;
  font-size: 1.5em;
}
.dashboard-content-items .power-menu-container .dashboard-button.shutdown {
  background: #f38ba8;
}
.dashboard-content-items .power-menu-container .dashboard-button.restart {
  background: #fab387;
}
.dashboard-content-items .power-menu-container .dashboard-button.lock {
  background: #a6e3a1;
}
.dashboard-content-items .power-menu-container .dashboard-button.sleep {
  background: #89dceb;
}
.dashboard-content-items .power-menu-container .dashboard-button:hover {
  background: #cba6f7;
}
.dashboard-content-items .shortcuts-container .dashboard-card {
  padding: 1.5em;
}
.dashboard-content-items .shortcuts-container .dashboard-card button {
  min-height: 2.5em;
  min-width: 2.5em;
}
.dashboard-content-items .shortcuts-container .card-button-left-section {
  margin-right: 1.5em;
}
.dashboard-content-items .shortcuts-container .top-button {
  margin-bottom: 1.5em;
}
.dashboard-content-items .shortcuts-container .container {
  margin-top: 0em;
}
.dashboard-content-items .shortcuts-container .container.most-used {
  margin-right: 0em;
}
.dashboard-content-items .shortcuts-container .container button {
  background: #b4befe;
  color: #1e1e2e;
  min-height: 3em;
}
.dashboard-content-items .shortcuts-container .container button label {
  font-size: 1.5em;
}
.dashboard-content-items .shortcuts-container .container button.record.active {
  background: #a6e3a1;
}
.dashboard-content-items .shortcuts-container .container button.record.active:hover {
  background: #f38ba8;
}
.dashboard-content-items .shortcuts-container .container button:hover {
  background: #f5c2e7;
}
.dashboard-content-items .controls-container.dashboard-card {
  margin-top: 0em;
}
.dashboard-content-items .controls-container button {
  background: #f38ba8;
  padding: 0em;
  min-height: 3em;
}
.dashboard-content-items .controls-container button label {
  color: #1e1e2e;
  font-size: 1.6em;
}
.dashboard-content-items .controls-container button:not(:last-child) {
  margin-right: 1em;
}
.dashboard-content-items .controls-container button.wifi {
  background: #cba6f7;
}
.dashboard-content-items .controls-container button.bluetooth {
  background: #89dceb;
}
.dashboard-content-items .controls-container button.notifications {
  background: #f9e2af;
}
.dashboard-content-items .controls-container button.playback {
  background: #eba0ac;
}
.dashboard-content-items .controls-container button.input {
  background: #f5c2e7;
}
.dashboard-content-items .controls-container button:hover {
  background: #585b70;
}
.dashboard-content-items .controls-container button.disabled {
  background: #585b70;
}
.dashboard-content-items .controls-container button.disabled.wifi:hover {
  background: #cba6f7;
}
.dashboard-content-items .controls-container button.disabled.bluetooth:hover {
  background: #89dceb;
}
.dashboard-content-items .controls-container button.disabled.notifications:hover {
  background: #f9e2af;
}
.dashboard-content-items .controls-container button.disabled.playback:hover {
  background: #eba0ac;
}
.dashboard-content-items .controls-container button.disabled.input:hover {
  background: #f5c2e7;
}
.dashboard-content-items .stats-container {
  margin-top: 0em;
}
.dashboard-content-items .stats-container .stat label {
  margin-right: 1em;
  font-size: 1.5em;
}
.dashboard-content-items .stats-container .stat.cpu label {
  color: #eba0ac;
}
.dashboard-content-items .stats-container .stat.ram label {
  color: #f9e2af;
}
.dashboard-content-items .stats-container .stat.gpu label {
  color: #a6e3a1;
}
.dashboard-content-items .stats-container .stat.storage label {
  color: #f5c2e7;
}
.dashboard-content-items .stats-container .stat .stats-bar levelbar * {
  transition: 200ms;
}
.dashboard-content-items .stats-container .stat .stats-bar trough {
  min-height: 1.05em;
}
.dashboard-content-items .stats-container .stat .stats-bar block {
  border-radius: 0.4em;
}
.dashboard-content-items .stats-container .stat .stats-bar block.empty {
  background: #45475a;
}
.dashboard-content-items .stats-container .stat .stats-bar block.filled {
  padding-left: 0.85em;
}
.dashboard-content-items .stats-container .stat.cpu .stats-bar block.filled {
  background: #eba0ac;
}
.dashboard-content-items .stats-container .stat.ram .stats-bar block.filled {
  background: #f9e2af;
}
.dashboard-content-items .stats-container .stat.gpu .stats-bar block.filled {
  background: #a6e3a1;
}
.dashboard-content-items .stats-container .stat.storage .stats-bar block.filled {
  background: #f5c2e7;
}
.dashboard-content-items .stats-container .stat-value {
  margin-bottom: 0.75em;
  font-size: 0.9em;
}
.dashboard-content-items .stats-container .stat-value.cpu {
  color: #eba0ac;
}
.dashboard-content-items .stats-container .stat-value.ram {
  color: #f9e2af;
}
.dashboard-content-items .stats-container .stat-value.gpu {
  color: #a6e3a1;
}
.dashboard-content-items .stats-container .stat-value.storage {
  color: #f5c2e7;
}

.dropdown.recording {
  color: red;
  background-color: #11111b;
}
.notification-card-container {
  margin-top: 3.5rem;
}

.notification-card {
  color: #cdd6f4;
  background: #181825;
  margin-right: 0.45em;
  border: 0.15em solid rgba(49, 50, 68, 0.5);
  min-width: 26em;
  min-height: 6rem;
  border-radius: 0.6em;
}
.notification-card:not(:first-child) {
  margin-top: 0.85em;
}

.notification-card-container {
  padding: 1px;
}

.notification-card-image-container {
  margin: 0.65em 0.65em;
  border-radius: 0.4em;
}

.notification-card-image {
  border-radius: 0.4em;
  min-width: 1.5em;
  min-height: 1.5em;
  padding: 0.85em 0.85em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.notification-card-content {
  min-width: 2.9em;
  min-height: 2.9em;
  padding: 0.5em 0.5em;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.notification-card-content.noimg {
  margin-left: 0.5em;
  margin-top: 0.15em;
}

.notification-card-header-label {
  font-size: 0.95em;
  margin-bottom: 0.5em;
  color: #b4befe;
}

.notification-card-body-label {
  font-size: 0.84em;
  margin-bottom: 1em;
  font-weight: 600;
}

.notification-card-actions {
  margin-top: 0.25em;
  margin-bottom: 0.4em;
}

.notification-action-buttons {
  color: #b4befe;
  background: #313244;
  min-width: 4em;
  min-height: 1.65em;
  border-radius: 0.2em;
}
.notification-action-buttons:not(:last-child) {
  margin-right: 2rem;
}
.notification-action-buttons:hover {
  background: #45475a;
}

.notification-icon {
  margin-bottom: 0.4em;
  font-size: 1.3em;
}

.notification-time {
  font-size: 0.85em;
  color: #7f849c;
}

.close-notification-button {
  background: #f38ba8;
  color: #11111b;
  min-width: 2.1em;
  border-radius: 0rem 0.35em 0.35em 0em;
}
.close-notification-button label {
  font-size: 1.5em;
}
.close-notification-button:hover {
  background: #eba0ac;
}

/*# sourceMappingURL=style.css.map */
