$primary-color: #CDD6F4;
$dark-background: #0e0e1e;
$light-background: #1e1e2e;
$mauve: #cba6f7;
$red: #f38ba8;
$yellow: #f9e2af;
$orange: #fab387;
$teal: #94e2d5;
$lightteal: #bac2de;
$pink: #f5c2e7;
$green: #a6e3a1;
$grey: #585b70;
$blue: #89b4fa;
$lightgrey: #a6adc8;
$lightblue: #74c7ec;

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext2: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$base2: #242438;
$mantle: #181825;
$crust: #11111b;

$default_fg: $primary-color;
$default_bg: #000000;
$primary_bg: $dark-background;
// $primary_fg: mix($mauve, $primary_bg, 70%);
$primary_fg: mix($mauve, $primary_bg, 70%);
$secondary_fg: $green;
$secondary_bg: $light-background;
$shadow-color: #1e1e2e;
