.workspaces {
    label {
        font-size: 0.2em;
        min-width: $bar-buttons-workspaces-pill-width;
        min-height: $bar-buttons-workspaces-pill-height;
        border-radius: $bar-buttons-workspaces-pill-radius;
        transition: 300ms * 0.5;
        background-color: $bar-buttons-workspaces-available;
        color: $bar-buttons-workspaces-available;

        &.occupied {
            background-color: $bar-buttons-workspaces-occupied;
            color: $bar-buttons-workspaces-occupied;
            min-width: $bar-buttons-workspaces-pill-width;
            min-height: $bar-buttons-workspaces-pill-height;
        }

        &.active {
            background-color: $bar-buttons-workspaces-active;
            color: $bar-buttons-workspaces-active;
            min-width: $bar-buttons-workspaces-pill-active_width;
            min-height: $bar-buttons-workspaces-pill-height;
        }

        &.workspace-icon {
            background-color: transparent;
            min-width: 0em;
            min-height: 0em;
            border-radius: 0em;
            transition: 300ms * 0.5;
            font-size: 1em;
        }

        &.workspace-number {
            background-color: transparent;
            min-width: 0em;
            min-height: 0em;
            border-radius: 0em;
            transition: 0ms;
            padding: 0em 0.2em;
            font-size: $bar-buttons-workspaces-fontSize;
        }

        &.underline {
            border-top: 0.1em solid transparent;
            border-bottom: 0.1em solid $bar-buttons-workspaces-numbered_active_underline_color;
            transition: 0ms;
        }

        &.highlight {
            transition: 0ms;
            color: $bar-buttons-workspaces-numbered_active_highlighted_text_color;
            border-radius: $bar-buttons-workspaces-numbered_active_highlight_border;
            background-color: $bar-buttons-workspaces-active;
            padding: 0em $bar-buttons-workspaces-numbered_active_highlight_padding;
        }
    }
}

.workspace-button {
    &:hover label {
        color: $bar-buttons-workspaces-hover;

        &.default {
            background-color: $bar-buttons-workspaces-hover;
        }
    }

    &:hover .can_underline {
        border-top: 0.1em solid transparent;
        border-bottom: 0.1em solid
            if($bar-buttons-monochrome, $bar-buttons-workspaces-hover, $bar-buttons-workspaces-hover);
    }

    &:hover .can_highlight {
        background-color: $bar-buttons-workspaces-hover;
        color: $bar-buttons-workspaces-numbered_active_highlighted_text_color;
        border-radius: $bar-buttons-workspaces-numbered_active_highlight_border;
    }
}

.style2.workspaces {
    padding: $bar-buttons-padding_y $bar-buttons-padding_x;
}

.bar_item_box_visible.workspaces {
    border: if(
        $bar-buttons-workspaces-enableBorder or $bar-buttons-enableBorders,
        $bar-buttons-borderSize solid
            if($bar-buttons-monochrome, $bar-buttons-borderColor, $bar-buttons-workspaces-border),
        0em
    );
}
