@import "../colors";

.menu-dropdown-label.audio {
    color: $maroon;
}

.menu-label.audio {
    color: $maroon;
}

.menu-button-isactive.audio {
    color: $maroon;
}

.menu-active-slider {
    trough {
        highlight,
        progress {
            background: $maroon;
        }
    }
}

.menu-button.audio {
     &:hover {
        color: $maroon;
    }
}

.menu-section-container.volume {
    margin-bottom: 0.65em;
}
.menu-section-container.playback {
    margin-top: 0em;
    margin-bottom: 0.65em;
}
.menu-section-container.input {
    margin-top: 0em;
}
