@import "../colors";

.menu-dropdown-label.audio {
    color: $peach;
}

.menu-label.audio {
    color: $peach;
}

.menu-button-isactive.audio {
    color: $peach;
}

.menu-active-slider {
    trough {
        highlight,
        progress {
            background: $peach;
        }
    }
}

.menu-button.audio {
     &:hover {
        color: $peach;
    }
}

.menu-items {
    min-width: 25rem;
}
