@import "../colors";

.menu-items-container.bluetooth {
    font-size: 1.3em;
    .menu-section-container {
        margin: 1.35em 0em;
    }

    .menu-label-container {
        .menu-label {
            color: $sky;
        }

        .controls-container {
            margin: 0.5em 1em;
        }
    }


    .menu-items-section {
        min-height: 20em;
        font-size: 1em;
    }

    button  {
        margin-right: 0.5em;
        &.search {
            @keyframes spin {
            to { -gtk-icon-transform: rotate(1turn); }
            }

            image.spinning {
                animation-name: spin;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            image {
                color: $text;
            }
            &:hover image {
                color: $sky;
            }
            font-size: 0.8em;
            margin-bottom: 0em;
        }
        &:hover {
            color: $sky;
        }
    }

    .bluetooth-element-item {
            margin-bottom: 0.5em;
            // background: $teal;
        &:hover {
            color: $sky;
        }

        image {
            // background: $red;
            margin-right: 0em;
            margin-top: 0.0em;
            min-height: 1em;
            min-width: 1em;

            &.active {
                color: $sky;
            }
        }

        label {
            // background: $yellow;
            font-size: 1em;
        }

        .connection-status {
            font-size: 0.9em;
            margin-left: 1em;
        }
    }

    spinner {
        min-height: 1.3em;
        min-width: 1.3em;
        color: $sky;
    }

    .menu-separator {
        margin: 0em 1em;
    }
}
