@import "../colors";

.menu-items-container.energy {
    .menu-label {
        color: $yellow;
    }

    .power-profile-item {
        margin-bottom: 0.5em;

        label {
            margin-left: 1em;
        }

        image {
            font-size: 1.3em;
            min-width: 1em;
            min-height: 1em;

            color: $overlay1;
        }

        &:hover {
            label {
                color: $yellow;
            }
        }

        &.active {
            image {
                color: $yellow;
            }
        }
    }
    .menu-active-slider.brightness {
        trough {
            highlight,
            progress {
                background: $yellow;
            }
        }
    }

    .brightness-container {
        padding-bottom: 1em;
    }

    .brightness-slider-icon {
        font-size: 1.4em;
        min-width: 1em;
        min-height: 1em;
    }

    .brightness-slider-label {
        font-size: 0.9em;
        min-width: 2.5em;
        font-weight: bold;
        margin-bottom: 0.2em;
    }
}
