@import "../colors";

.menu-items-container.media {
  min-width: 36.5em;
  min-height: 18em;

  .menu-section-container {
    margin: 1.3em 0em;
  }

  .media-indicator-items {
    margin: 1rem;
    margin-bottom: 1.3rem;
  }

  .media-indicator-current-album-cover {
    border-radius: 0.25em;
    min-width: 9.5em;
    min-height: 9.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .media-indicator-right-section {
    margin-left: 2em;
  }

  .media-indicator-current-song-name {
    margin-bottom: 0.75rem;
  }

  .media-indicator-current-song-author {
    margin-bottom: 0.5rem;
  }

  .media-indicator-current-song-name-label {
    color: $lavender;
    font-size: 1.35em;
  }

  .media-indicator-current-song-author-label {
    color: $teal;
    font-size: 1em;
  }

  .media-indicator-current-song-album-label {
    color: $pink;
    font-size: 1em;
  }

  .media-indicator-current-controls {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .media-indicator-control {
    margin: 0rem 0.5rem;
  }

  .media-indicator-control-button {
    background: $lavender;
    color: $crust;
    min-height: 1.8em;
    min-width: 2em;
    border-radius: 0.2rem;

    &.disabled {
      background: $surface0;
    }

    &.enabled {
      background: $lavender;

      &:hover {
        background: $pink;
      }

      &.active {
        background: $pink;
      }
    }

  }

  image {
    font-size: 1.1em;
  }

  .menu-slider.media.progress {
    margin-top: 1rem;

    trough {
      background: $surface0;
      border-radius: 0.3rem;

      highlight,
      progress {
        min-height: 1rem;
        background: $lavender;
      }
    }

    &:hover {
      trough {
        background: $surface1;
      }
    }
  }
}
