@import "../colors";

.menu-dropdown-label.network {
    color: $mauve;
}

.network-element-item-ethernet.multi {
    margin-bottom: 0.5rem;
}

.menu-button-name.status.network {
    margin-left: 2.5rem;
}

.menu-label.network {
    color: $mauve;
}

.network-element-items-container * {
    font-size: 0.95em;
}

.network-element-item {
    &:not(:last-child) {
        margin-bottom: 0.4em;
    }

    &:hover {
        color: $mauve;
    }
}

.menu-button-icon.network {
    color: $overlay2;
}

.network-password-input {
    border-radius: 0.4rem;
    background: $crust;
    padding: 0.4rem;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.85em;
}

.menu-icon-button.refresh.network {
    margin-bottom: 1rem;

    &:hover {
        color: $mauve;
    }
}

.network-password-input-close {
    margin-left: 0.75rem;
    margin-bottom: 0.6rem;

    &:hover {
        color: $sky;
    }

    label {
        font-size: 1.45em;
    }
}

.menu-icon-button.network.disconnect {
    margin-bottom: 1.4rem;
    margin-right: 0.5rem;

    &:hover {
        color: $mauve;
    }

    label {
        font-size: 1.2rem;
    }
}

.menu-icon-button.network.forget {
    margin-bottom: 1.4rem;
    margin-right: 0.5rem;

    &:hover {
        color: $mauve;
    }

    label {
        font-size: 1.35em;
    }
}
