.greeter-window {
    .login-password {
        margin-top: 1.5em;
        min-width: 10em;
        border-radius: 0em;
        background: $highlight-low;
        outline: none;
        color: $text;
        font-size: 1.7em;
        box-shadow: 0 0.1em 0 0 $pine;
    }
}
