@import "../colors";

.bar {
  background: $mantle;
}

.bar_item_box_visible {
  background: $surface0;
  border-radius: 0.35rem;
  padding: 0.2rem 0.9rem;
  margin: 0.5rem 0.25rem;

  &:hover {
    background: $surface1;
  }
}

.bar_item_box_hidden {
  background: none;
  border-radius: 0rem;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

.box-left {
  margin-left: 1.9rem;
}

.box-right {
  margin-right: 1.9rem;
}
