@import '../colors';

.bar {
  .battery {
    label {
      color: $yellow;
    }
    image {
      color: $yellow;
    }
  }
}

.menu-section-container.brightness {
  margin-bottom: 0em;
}
.menu-section-container.energy {
  margin-top: 0.5em;
}
