@import '../colors';

.bar-bt_icon {
  font-size: 1.3rem;
  color: $sky;
}

.bar-bt_label {
  color: $sky;
}

.bluetooth-disabled-menu {
  font-weight: bold;
  font-size: 1.1rem;
  color: $surface2;
  margin: 6rem 0rem;
}

.menu-button-isactive {
  color: $sky;
}
