@import "../colors";

.workspaces {
  label {
    font-size: 0.2em;
    min-width: 4.5em;
    min-height: 4.5em;
    border-radius: 1.9rem * .6;
    margin: 0rem 0.5rem * .5;
    transition: 300ms * .5;
    background-color: $sky;
    color: $sky;

    &.occupied {
      background-color: $yellow;
      color: $yellow;
      min-width: 4.5em;
      min-height: 4.5em;
    }

    &.active {
      color: $pink;
      background-color: $pink;
      min-width: 11em;
      min-height: 4.5em;
    }
  }
}


.workspaces label:not(:first-child) {
  margin-left: 4.5em;
}
