@import "../colors";

.workspaces {
  label {
    font-size: 0rem;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 1.9rem * .6;
    margin: 0rem 0.5rem * .5;
    transition: 300ms * .5;
    background-color: $mauve;

    &.occupied {
      background-color: $yellow;
      min-width: 1rem;
      min-height: 1rem;
    }

    &.active {
      background-color: $sky;
      min-width: 2.2rem;
      min-height: 1rem;
    }
  }
}


.workspaces label:not(:first-child) {
  margin-left: 0.9rem;
}
