.bar-button-icon.volume {
    font-size: 1.3em;
    color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-volume-icon);
}

.bar-button-label.volume {
    color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-volume-text);
    min-width: 2.2em;
    margin-left: $bar-buttons-volume-spacing;
}

.style2 {
    .bar-button-icon.volume {
        border-top-left-radius: $bar-buttons-radius;
        border-bottom-left-radius: $bar-buttons-radius;
        background: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-volume-icon_background);
        padding: $bar-buttons-padding_y 0em;
        padding-left: $bar-buttons-padding_x;
        padding-right: $bar-buttons-volume-spacing;
        border-top-left-radius: if(
            $bar-buttons-volume-enableBorder or $bar-buttons-enableBorders,
            $bar-buttons-radius * 0.4,
            $bar-buttons-radius
        );
        border-bottom-left-radius: if(
            $bar-buttons-volume-enableBorder or $bar-buttons-enableBorders,
            $bar-buttons-radius * 0.4,
            $bar-buttons-radius
        );
    }

    .bar-button-label.volume {
        padding: $bar-buttons-padding_y 0em;
        padding-right: $bar-buttons-padding_x;
        padding-left: $bar-buttons-volume-spacing;
        margin-left: 0em;
    }
    &.no-label.volume-container {
        .bar-button-icon.volume {
            border-top-right-radius: if(
                $bar-buttons-volume-enableBorder or $bar-buttons-enableBorders,
                $bar-buttons-radius * 0.4,
                $bar-buttons-radius
            );
            border-bottom-right-radius: if(
                $bar-buttons-volume-enableBorder or $bar-buttons-enableBorders,
                $bar-buttons-radius * 0.4,
                $bar-buttons-radius
            );
        }
    }
}
.bar_item_box_visible.volume {
    border: if(
        $bar-buttons-volume-enableBorder or $bar-buttons-enableBorders,
        $bar-buttons-borderSize solid if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-volume-border),
        0em
    );
}
