@import "../colors";
@import '../../variables';

.media {
  color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-media-text);
}

.bar-media_icon {
  font-size: 1.2em;
  color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-media-icon);
}
