.bar-menu_label {
  color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-dashboard-icon);
  font-size: 1.3em;
}

.style2 .bar-menu_label {
  padding: $bar-buttons-padding_y $bar-buttons-padding_x;
}
