.bar-button-label {
  margin-left: 0.5em;
}

.style2 {
  .bar-button-icon.ram {
    border-top-left-radius: $bar-buttons-radius;
    border-bottom-left-radius: $bar-buttons-radius;
    padding: $bar-buttons-padding_y 0em;
    padding-left: $bar-buttons-padding_x;
    padding-right: 0.5em;
    background: $text;
    color: $bar-background;
  }

  .bar-button-label.ram {
    padding: $bar-buttons-padding_y 0em;
    padding-right: $bar-buttons-padding_x;
    padding-left: 0.5em;
    margin-left: 0em;
    color: $text;
  }
}

// .bar-button-label {
//   color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-ram-text);
//   margin-left: $bar-buttons-ram-spacing;
// }
//
// .bar-button-icon.ram {
//   color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-ram-icon);
// }
//
// .style2 {
//   .bar-button-icon.ram {
//     border-top-left-radius: $bar-buttons-radius;
//     border-bottom-left-radius: $bar-buttons-radius;
//     background: if($bar-buttons-monochrome, $bar-buttons-icon_background, $bar-buttons-ram-icon_background);
//     padding: $bar-buttons-padding_y 0em;
//     padding-left: $bar-buttons-padding_x;
//     padding-right: $bar-buttons-ram-spacing;
//   }
//
//   .bar-button-label.ram {
//     padding: $bar-buttons-padding_y 0em;
//     padding-right: $bar-buttons-padding_x;
//     padding-left: $bar-buttons-ram-spacing;
//     margin-left: 0em;
//   }
// }
