.bar-button-label.network {
  color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-network-text);
  margin-left: $bar-buttons-network-spacing;
}

.bar-button-icon.network {
  color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-network-icon);
}

.style2 {
  .bar-button-icon.network {
    border-top-left-radius: $bar-buttons-radius;
    border-bottom-left-radius: $bar-buttons-radius;
    background: if($bar-buttons-monochrome, $bar-buttons-icon_background, $bar-buttons-network-icon_background);
    padding: $bar-buttons-padding_y 0em;
    padding-left: $bar-buttons-padding_x;
    padding-right: $bar-buttons-network-spacing;
  }

  .bar-button-label.network {
    padding: $bar-buttons-padding_y 0em;
    padding-right: $bar-buttons-padding_x;
    padding-left: $bar-buttons-network-spacing;
    margin-left: 0em;
  }
}
