.bar-button-icon.notifications {
    color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-notifications-icon);
    font-size: 1.3em;
    border-top: if(
        $bar-buttons-notifications-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-notifications-border,
        0em
    );
    border-left: if(
        $bar-buttons-notifications-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-notifications-border,
        0em
    );
    border-bottom: if(
        $bar-buttons-notifications-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-notifications-border,
        0em
    );
}

.bar-button-label.notifications {
    color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-notifications-total);
    margin-left: $bar-buttons-notifications-spacing;
    min-width: 1em;
    border-top: if(
        $bar-buttons-notifications-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-notifications-border,
        0em
    );
    border-right: if(
        $bar-buttons-notifications-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-notifications-border,
        0em
    );
    border-bottom: if(
        $bar-buttons-notifications-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-notifications-border,
        0em
    );
    border-top-right-radius: $bar-buttons-radius;
    border-bottom-right-radius: $bar-buttons-radius;
}

.style2 {
    .bar-button-icon.notifications {
        border-top-left-radius: $bar-buttons-radius;
        border-bottom-left-radius: $bar-buttons-radius;
        background: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-notifications-icon_background);
        padding: $bar-buttons-padding_y 0em;
        padding-left: $bar-buttons-padding_x;
        padding-right: $bar-buttons-notifications-spacing;
    }

    .bar-button-label.notifications {
        padding: $bar-buttons-padding_y 0em;
        padding-right: $bar-buttons-padding_x;
        padding-left: $bar-buttons-notifications-spacing;
        margin-left: 0em;
    }

    &.no-label.notifications {
        .bar-button-icon {
            border-right: if(
                $bar-buttons-notifications-enableBorder,
                $bar-buttons-borderSize solid $bar-buttons-notifications-border,
                0em
            );
        }
    }
}
