.bar-button-icon.notifications {
    color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-notifications-icon);
    font-size: 1.3em;
}

.bar-button-label.notifications {
    color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-notifications-total);
    margin-left: $bar-buttons-notifications-spacing;
    min-width: 1em;
}

.style2 {
    .bar-button-icon.notifications {
        border-top-left-radius: $bar-buttons-radius;
        border-bottom-left-radius: $bar-buttons-radius;
        background: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-notifications-icon_background);
        padding: $bar-buttons-padding_y 0em;
        padding-left: $bar-buttons-padding_x;
        padding-right: $bar-buttons-notifications-spacing;
        border-top-left-radius: if(
            $bar-buttons-notifications-enableBorder or $bar-buttons-enableBorders,
            $bar-buttons-radius * 0.4,
            $bar-buttons-radius
        );
        border-bottom-left-radius: if(
            $bar-buttons-notifications-enableBorder or $bar-buttons-enableBorders,
            $bar-buttons-radius * 0.4,
            $bar-buttons-radius
        );
        color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-notifications-icon);

        &:last-child {
            border-radius: $bar-buttons-radius;
        }
    }

    .bar-button-label.notifications {
        padding: $bar-buttons-padding_y 0em;
        padding-right: $bar-buttons-padding_x;
        padding-left: $bar-buttons-notifications-spacing;
        margin-left: 0em;
    }

    &.no-label.notifications-container {
        .bar-button-icon.notifications {
            border-top-right-radius: if(
                $bar-buttons-notifications-enableBorder or $bar-buttons-enableBorders,
                $bar-buttons-radius * 0.4,
                $bar-buttons-radius
            );
            border-bottom-right-radius: if(
                $bar-buttons-notifications-enableBorder or $bar-buttons-enableBorders,
                $bar-buttons-radius * 0.4,
                $bar-buttons-radius
            );
        }
    }
}

.bar_item_box_visible.notifications {
    border: if(
        $bar-buttons-notifications-enableBorder or $bar-buttons-enableBorders,
        $bar-buttons-borderSize solid if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-notifications-border),
        0em
    );
}
