.bar-button-icon.windowtitle {
    color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-windowtitle-icon);
    border-top: if(
        $bar-buttons-windowtitle-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-windowtitle-border,
        0em
    );
    border-left: if(
        $bar-buttons-windowtitle-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-windowtitle-border,
        0em
    );
    border-bottom: if(
        $bar-buttons-windowtitle-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-windowtitle-border,
        0em
    );
}

.bar-button-label.windowtitle {
    color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-windowtitle-text);
    margin-left: $bar-buttons-windowtitle-spacing;

    border-top: if(
        $bar-buttons-windowtitle-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-windowtitle-border,
        0em
    );
    border-right: if(
        $bar-buttons-windowtitle-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-windowtitle-border,
        0em
    );
    border-bottom: if(
        $bar-buttons-windowtitle-enableBorder,
        $bar-buttons-borderSize solid $bar-buttons-windowtitle-border,
        0em
    );
    border-top-right-radius: $bar-buttons-radius;
    border-bottom-right-radius: $bar-buttons-radius;
    &.no-icon {
        margin-left: 0;
        border-top-left-radius: $bar-buttons-radius;
        border-bottom-left-radius: $bar-buttons-radius;
        border-left: if(
            $bar-buttons-windowtitle-enableBorder,
            $bar-buttons-borderSize solid $bar-buttons-windowtitle-border,
            0em
        );
    }
}

.style2 {
    .bar-button-icon.windowtitle {
        border-top-left-radius: $bar-buttons-radius;
        border-bottom-left-radius: $bar-buttons-radius;
        background: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-windowtitle-icon_background);
        padding: $bar-buttons-padding_y 0em;
        padding-left: $bar-buttons-padding_x;
        padding-right: $bar-buttons-windowtitle-spacing;
    }

    .bar-button-label.windowtitle {
        padding: $bar-buttons-padding_y 0em;
        padding-right: $bar-buttons-padding_x;
        padding-left: $bar-buttons-windowtitle-spacing;
        margin-left: 0em;

        &.no-icon {
            padding-left: $bar-buttons-padding_x;
        }
    }

    &.no-label.windowtitle-container {
        .bar-button-icon {
            border-right: if(
                $bar-buttons-windowtitle-enableBorder,
                $bar-buttons-borderSize solid $bar-buttons-windowtitle-border,
                0em
            );
        }
    }
}
