.bar-button-icon.windowtitle {
  color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-windowtitle-icon);
}

.bar-button-label.windowtitle {
  color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-windowtitle-text);
  margin-left: $bar-buttons-windowtitle-spacing;
}

.style2 {
  .bar-button-icon.windowtitle {
    border-top-left-radius: $bar-buttons-radius;
    border-bottom-left-radius: $bar-buttons-radius;
    background: if($bar-buttons-monochrome, $bar-buttons-icon_background, $bar-buttons-windowtitle-icon_background);
    padding: $bar-buttons-padding_y 0em;
    padding-left: $bar-buttons-padding_x;
    padding-right: $bar-buttons-windowtitle-spacing;
  }

  .bar-button-label.windowtitle {
    padding: $bar-buttons-padding_y 0em;
    padding-right: $bar-buttons-padding_x;
    padding-left: $bar-buttons-windowtitle-spacing;
    margin-left: 0em;
  }
}
