@import "../colors";
@import '../../variables';

.workspaces {
  button {
    margin: 0rem 0.5rem * .5;

    &:not(:first-child) {
      margin-left: 0.7em;
    }
  }

  label {
    font-size: 0.2em;
    min-width: 4em;
    min-height: 4em;
    border-radius: 1.9rem * .6;
    transition: 300ms * .5;
    background-color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-available);
    color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-available);

    &.occupied {
      background-color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-occupied);
      color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-occupied);
      min-width: 4em;
      min-height: 4em;
    }

    &.active {
      color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-active);
      background-color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-active);
      min-width: 12em;
      min-height: 4em;
    }

    &.workspace-icon {
      background-color: transparent;
      min-width: 0em;
      min-height: 0em;
      border-radius: 0em;
      font-size: 1.1em;
    }
  }

}
